@import 'variables.less';
@import 'mixins.less';


/* VENDORS */
@import 'vendors/normalize.less'; 
@import 'vendors/swiper.less'; 


/* BLOCKS */
@import 'blocks/blocks.less';


/* TYPOGRAPHY */

.add_font( 'EskizTwoC', 'Regular', 'normal', @fw_normal );
.add_font( 'EskizTwoC', 'Italic', 'italic', @fw_normal );
.add_font( 'EskizTwoCondC', 'Italic', 'italic', @fw_normal );
.add_font( 'OfficinaSerif', 'Bold', 'normal', @fw_bold );
.add_font( 'OfficinaSerif', 'BoldItalic', 'italic', @fw_bold );
.add_font( 'OfficinaSerif', 'Medium', 'normal', @fw_medium );
.add_font( 'OfficinaSerif', 'MediumItalic', 'italic', @fw_medium );
.add_font( 'OfficinaSerifBook', 'Regular', 'normal', @fw_normal );
.add_font( 'OfficinaSerifBook', 'Italic', 'italic', @fw_normal );
.add_font( 'RobotoCondensed', 'Light', 'normal', @fw_light );



/* OTHER */

*{
	box-sizing: border-box;
}


img{
	max-width: 100%;
}

@supports( object-fit: contain ){
	img{
		object-fit: contain;
	}
}


h1,h2,h3,h4,h5,h6{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: normal;	
}

h1{
	font-size: 32px;				
}
h2{
	font-size: 28px;				
}
h3{
	font-size: 24px;			
}
h4{
	font-size: 20px;		
}
h5{
	font-size: 18px;	
}
h6{
	font-size: 16px;
}


/* SLIDES */
@import 'slides/01/slide.less';
@import 'slides/02/slide.less';
@import 'slides/03/slide.less';
@import 'slides/04/slide.less';
@import 'slides/05/slide.less';
@import 'slides/06/slide.less';
@import 'slides/07/slide.less';
@import 'slides/08/slide.less';
@import 'slides/09/slide.less';
@import 'slides/10/slide.less';
@import 'slides/11/slide.less';
@import 'slides/12/slide.less';
@import 'slides/13/slide.less';
@import 'slides/14/slide.less';
@import 'slides/15/slide.less';
@import 'slides/16/slide.less';
@import 'slides/17/slide.less';
@import 'slides/18/slide.less';
@import 'slides/19/slide.less';
@import 'slides/20/slide.less';
@import 'slides/21/slide.less';
@import 'slides/22/slide.less';
@import 'slides/23/slide.less';
@import 'slides/24/slide.less';
@import 'slides/25/slide.less';
@import 'slides/26/slide.less';
@import 'slides/27/slide.less';
@import 'slides/28/slide.less';
@import 'slides/29/slide.less';
@import 'slides/30/slide.less';
@import 'slides/31/slide.less';
@import 'slides/32/slide.less';
@import 'slides/33/slide.less';
@import 'slides/34/slide.less';
@import 'slides/35/slide.less';
@import 'slides/36/slide.less';
@import 'slides/37/slide.less';
@import 'slides/38/slide.less';
@import 'slides/39/slide.less';
@import 'slides/40/slide.less';
@import 'slides/41/slide.less';
@import 'slides/42/slide.less';
@import 'slides/43/slide.less';
@import 'slides/44/slide.less';
@import 'slides/45/slide.less';
@import 'slides/46/slide.less';
@import 'slides/47/slide.less';
@import 'slides/48/slide.less';
@import 'slides/49/slide.less';
@import 'slides/50/slide.less';
@import 'slides/51/slide.less';
@import 'slides/52/slide.less';
@import 'slides/53/slide.less';
@import 'slides/54/slide.less';
@import 'slides/55/slide.less';
@import 'slides/56/slide.less';
@import 'slides/57/slide.less';
@import 'slides/58/slide.less';
@import 'slides/59/slide.less';
@import 'slides/60/slide.less';
@import 'slides/61/slide.less';
@import 'slides/62/slide.less';
@import 'slides/63/slide.less';
@import 'slides/64/slide.less';
@import 'slides/65/slide.less';
@import 'slides/66/slide.less';
@import 'slides/67/slide.less';
@import 'slides/68/slide.less';
@import 'slides/69/slide.less';
@import 'slides/70/slide.less';
@import 'slides/71/slide.less';
@import 'slides/72/slide.less';
@import 'slides/73/slide.less';
@import 'slides/74/slide.less';
@import 'slides/75/slide.less';
@import 'slides/76/slide.less';
@import 'slides/77/slide.less';


/* POPUPS */
@import 'popups/11/popup.less';
@import 'popups/12/popup.less';
@import 'popups/13/popup.less';
@import 'popups/14/popup.less';
@import 'popups/15/popup.less';
@import 'popups/16/popup.less';
@import 'popups/23/popup.less';
@import 'popups/24/popup.less';
@import 'popups/25/popup.less';
@import 'popups/26/popup.less';
@import 'popups/27/popup.less';
@import 'popups/27-2/popup.less';
@import 'popups/28/popup.less';
@import 'popups/33/popup.less';
@import 'popups/38/popup.less';
@import 'popups/39/popup.less';
@import 'popups/42/popup.less';
@import 'popups/43/popup.less';
@import 'popups/44/popup.less';
@import 'popups/44-2/popup.less';
@import 'popups/44-3/popup.less';
@import 'popups/44-4/popup.less';
@import 'popups/44-5/popup.less';
@import 'popups/45/popup.less';
@import 'popups/46/popup.less';
@import 'popups/49/popup.less';


