
#slide-17{
	.slide__header{
		.header__title{
			font-size: 49px;		
		}
	}
	.slide__main{
		flex-direction: column;
		justify-content: flex-start;
		.box--flex-row{
			justify-content: space-between;
			align-items: stretch;
			margin-top: 20px;
		}
		.box--left{
			margin-right: 20px;
			max-width: 330px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;			
		}
		.diagram__header{
			width: 100%;
			text-align: center;
		}
		.diagram__title{
			margin-left: 80px;
			font-weight: normal;
		}
		.diagram__main{
			margin-top: 20px;
		}
		.diagram{
			position: relative;
			&>.scheme__img{
				position: absolute;
				top: 0em;
				left: 0em;
			}				
		}	
	}
}