
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-76.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction  
				p
					| <b>ФОРМА ВЫПУСКА</b>
				p
					| Таблетки покрытые пленочной оболочкой 400 мг. По 60 таблеток во флакон из полиэтилена высокой плотности, запаянный защитной мембраной и закрытый пластмассовой крышкой с устройством против вскрытия флакона детьми, и контейнер с силикагелем. По 1 флакону вместе с инструкцией по применению в картонную пачку.
				p
					| <b>УСЛОВИЯ ХРАНЕНИЯ</b>
				p
					| При температуре не выше 25oС. Хранить в недоступном для детей месте. 
				p
					| <b>СРОК ГОДНОСТИ</b>
				p
					| 2,5 года. Не использовать по истечении срока годности, указанного на упаковке. 
				p
					| <b>УСЛОВИЯ ОТПУСКА</b>
				p
					| По рецепту.
				p
					| <b>ЮРИДИЧЕСКОЕ ЛИЦО, НА ИМЯ КОТОРОГО ВЫДАНО РЕГИСТРАЦИОННОЕ УДОСТОВЕРЕНИЕ</b>
				p
					| Мерк Шарп и Доум Б.В., Нидерланды
				p
					| <b>ПРОИЗВОДИТЕЛЬ </b>
				p
					| <b>Произведено:</b>
				p
					| МСД Интернэшнл ГмбХ (Сингапур Бранч), Сингапур MSD International GmbH (Singapore Branch) 21 Tuas South Avenue 6, 637766, Singapore
					br
					| <i>или</i> 
					br
					| МСД Интернэшнл ГмбХ, Ирландия MSD International GmbH Ballydine, Kilsheelan, Co. Tipperary, Ireland
					br
					| <i>или</i> 
					br
					| АО «Р-Фарм», Россия 150061, г. Ярославль, ул. Громова, д. 15
				p
					| <b>Упаковано / Выпускающий контроль качества:</b>
				p
					| Мерк Шарп и Доум Б.В., Нидерланды Merck Sharp & Dohme B.V. Waarderweg 39, 2031 BN, Haarlem, the Netherlands
					br
					| <i>или</i> 
					br
					| АО «ОРТАТ», Россия 157092, Костромская обл., Сусанинский район, с. Северное, мкр. Харитоново
					br
					| <i>или</i>
					br
					| АО «Р-Фарм», Россия 150061, г. Ярославль, ул. Громова, д. 15 
				p
					| <b>ПРЕТЕНЗИИ ПОТРЕБИТЕЛЕЙ НАПРАВЛЯТЬ ПО АДРЕСУ </b>
				p
					| ООО «МСД Фармасьютикалс» 
					br
					| ул. Павловская, д. 7, стр. 1 
					br
					| г. Москва, Россия, 115093 
					br
					| тел.: (495) 916-71-00 
					br
					| факс: (495) 916-70-94
		+slide__footer()
	