
include ../../mixins.jade

#popup-39.popup--slide.popup.popup--hidden
	header.popup__header
		.popup__title
			| Дизайн исследования Vispo et al.<sup>14</sup>
		.btn.popup__close(data-popup="popup-39")
	main.popup__main
		p
			| Безопасность ралтегравира для печени у ко-инфицированных пациентов HCV/HIV.
		p
			| Проспективное наблюдательное исследование, в котором изучали безопасность ИСЕНТРЕССа у ранее леченых ВИЧ-инфицированных пациентов, начавших терапию с января 2008 года по январь 2009 года в специализированной испанской клинике. Исходно, через 4 недели, а затем каждые 3 месяца  регистрировали клинические данные, лабораторные показатели, оценивали развитие фиброза печени. Средняя длительность наблюдения составила 12 месяцев.
		p
			| Хронический гепатит С диагностировали на основании наличия HCV RNA в сыворотке. Гепатотоксичность 1–4 степени оценивали на основании повышения активности печеночных ферментов в соответствии с критериями группы клинических исследователей СПИДа. Пациентов контрольной группы, получавших ингибиторы протеазы или ненуклеозидные ингибиторы обратной транскриптазы (ННИОТ), обследовали сходным образом.
		p
			| Результаты лечения ралтегравиром анализировали у 218 ВИЧ-инфицированных пациентов, в том числе 126 больных с ВИЧ-моноинфекцией и 92 больных с ВИЧ/HCV-коинфекцией. Повышение активности печеночных ферментов любой степени было отмечено у 10 (7,9%) пациентов с ВИЧ-моноифнекцией и 23 (25%) пациентов с ко-инфекцией (относительный риск 3,1; 95% доверительный интервал 2,9–3,4; р=0,002). Однако тяжелая гепатотоксичность (3–4 степени) отмечалась только у трех (1,4%) пациентов; все они были также инфицированы HCV. Тяжелая реакция со стороны печени развилась у пациентов через 1, 15 и 15 месяцев, соответственно. У всех трех пациентов повышение печеночных проб скорее всего было связано не с лечением ралтегравиром, а с другими причинами. Многофакторный анализ показал, что HCV-коинфекция была единственным независимым фактором, ассоциировавшимся с повышением гепатотоксичности в группе ралтегравира (р=0,03). Частота изменения показателей функции печени у пациентов группы ралтегравира была ниже, чем у пациентов, получавших ИП или ННИОТ.
	footer.popup__footer
	