include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-7.slide
		header.slide__header
			.header__title
				span.text--pink
					| Оптимизация терапии для пациентов 
				div.text
					| с сопутствующими заболеваниями
		main.slide__main
			.box--top
				.pane.pane--gray.pane--wide.pane--fact
					h3.text
						| <span class="text--pink">Эпидемиология: </span> высокая частота сопутствующих заболеваний у пациентов с ВИЧ<sup>41</sup>
			.box--bottom.box--flex-row
				.box--left
					div
						b
							| Ключевые риски:
					.pane.pane--stick-left
						ul.list.list--tabs-rombus
							li.list__item(data-goto="43")
								| Дислипидемия
							li.list__item(data-goto="42")
								| Вторичное поражение почек
							li.list__item(data-goto="52")
								| Сахарный диабет
							li.list__item(data-goto="36")
								| Возрастные изменения
							li.list__item(data-goto="55")
								| Лекарственные взаимодействия с сопутствующей терапией:
								br
								| - гипотензивной
								br
								| - гиполипидемической
								br
								| - гипогликемической
								br
								| - антиагрегантной
				.box--right
					.diagram.diagram--box
						main.diagram__main
							img.scheme__img(src="images/slides/07/1.jpg")
						footer.diagram__footer
							.diagram__caption
								| Бремя сопутствующих заболеваний у пациентов с ВИЧ
		+slide__footer()