footer.page__footer.page__footer--shadow-hidden
	nav.nav
		ul.list
			li.list__item
				a.nav__item
					img(src="images/triangle.png")
			li.list__item
				a.nav__item
					img(src="images/home.png")
			li.list__item
				a.nav__item
					img(src="images/literature.png")
			li.list__item
				a.nav__item
					| Инструкция <br>по применению
			li.list__item
				a.nav__item
					| Резистентность
			li.list__item
				a.nav__item
					| Жевательные таблетки исентресс
			li.list__item
				a.nav__item
					| Эффективность исентресс при высокой вн
			li.list__item
				a.nav__item
					| Ключевая информация по&nbsp;безопасности
