footer.page__footer.page__footer--shadow-hidden
	nav.nav
		ul.list
			//-
				li.list__item
					a.nav__item
						img(src="images/triangle.png")
			li.list__item
				a.nav__item
					img(src="images/home.png")
			li.list__item
				a.nav__item
					img(src="images/literature.png")
			li.list__item
				a.nav__item
					| Инструкция <br>по применению
			li.list__item
				a.nav__item
					| Долгосрочная эффективность
			li.list__item
				a.nav__item
					| Резистентность и&nbsp;приверженность
			li.list__item
				a.nav__item
					| Переносимость и&nbsp;безопасность
			li.list__item
				a.nav__item
					|  Ключевая информация по безопасности