mixin footer-nav-items()
	li.list__item
		a.nav__item(data-nav="17")
			.btn.btn--circle
				img.scheme__img(src="images/lliver.png")
	li.list__item
		a.nav__item(data-nav="14")
			.btn.btn--circle
				img.scheme__img(src="images/kidneys.png")
	li.list__item
		a.nav__item(data-nav="19")
			.btn.btn--circle
				img.scheme__img(src="images/lipids.png")
	li.list__item
		a.nav__item(data-nav="20")
			.btn.btn--circle
				img.scheme__img(src="images/lipids-2.png")
	li.list__item
		a.nav__item(data-nav="21")
			.btn.btn--circle
				img.scheme__img(src="images/Metformin.png")