mixin footer-nav-items()
	li.list__item
		a.nav__item(data-goto="lliver")
			.btn.btn--circle
				img.scheme__img(src="images/lliver.png")
	li.list__item
		a.nav__item(data-goto="kidneys")
			.btn.btn--circle
				img.scheme__img(src="images/kidneys.png")
	li.list__item
		a.nav__item(data-goto="lipids")
			.btn.btn--circle
				img.scheme__img(src="images/lipids.png")
	li.list__item
		a.nav__item(data-goto="lipids")
			.btn.btn--circle
				img.scheme__img(src="images/lipids-2.png")
	li.list__item
		a.nav__item(data-goto="metformin")
			.btn.btn--circle
				img.scheme__img(src="images/Metformin.png")