footer.page__footer.page__footer--shadow-hidden
	nav.nav
		ul.list
			//-
				li.list__item
					a.nav__item
						img(src="images/triangle.png")
			li.list__item
				span.nav__item(data-goto="1")
					img(src="images/home.png")
			li.list__item
				span.nav__item(data-goto="59")
					img(src="images/literature.png")
			li.list__item
				span.nav__item(data-goto="61")
					| Инструкция <br>по применению
			li.list__item
				span.nav__item(data-goto="11")
					| Долгосрочная эффективность
			li.list__item
				span.nav__item(data-goto="27")
					| Резистентность и&nbsp;приверженность
			li.list__item
				span.nav__item(data-goto="32")
					| Переносимость и&nbsp;безопасность
			li.list__item
				span.nav__item(data-goto="77")
					|  Ключевая информация по безопасности