header.page__header.page__header--shadow-hidden
//-	
	nav.nav
		ul.list
			li.list__item
				.nav__item.swiper__prev
					img(src="images/prev_page.png")
			li.list__item
				.nav__item.swiper__next
					img(src="images/next_page.png")