mixin popup--menu(id,extraClass)
	div(id="popup-"+id, class="popup popup--menu popup--hidden "+extraClass)
		.box--flex-row
			.box--left
				img.img(src="images/slides/11/2.jpg")
				p.text--purple
					| Эффективность – <b>STARTMRK</b>
				.btn.btn--circle
					img.img.scheme__img(src="images/left.png")
			.box--right
				img.img(src="images/slides/11/3.jpg")
				p.text--purple
					| Эффективность – <b>А5257</b>
				.btn.btn--circle
					img.img.scheme__img(src="images/right.png")
