
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-75.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction
				p
					| <b>Нарушение функции печени</b>
				p
					| Безопасность и эффективность препарата Исентресс® у пациентов с тяжелыми сопутствующими заболеваниями печени не установлены. Следует соблюдать осторожность при назначении препарата Исентресс® пациентам с тяжелыми нарушениями функции печени. У пациентов с существующей дисфункцией печени, включая хронический гепатит, повышается частота нарушений функции печени на фоне комбинированной АРВТ, и они подлежат мониторингу в соответствии со стандартной практикой. При появлении у таких пациентов признаков ухудшения заболевания печени должен быть рассмотрен вопрос о прерывании или прекращении лечения.
					br
					| Пациенты с хроническим гепатитом В или С, также получающие комбинированную АРВТ, входят в группу риска развития тяжелых и потенциально фатальных нежелательных явлений со стороны печени. 
				p
					| <b>Кожная сыпь</b>
				p
					| У пациентов, ранее получавших АРВТ, при применении препарата Исентресс® одновременно с дарунавиром кожная сыпь наблюдается чаще, чем у пациентов, применяющих препараты по отдельности (см. раздел ПОБОЧНОЕ ДЕЙСТВИЕ).
				p
					| <b>Депрессия </b>
				p
					| Депрессия, включая суицидальные идеи и поведение, наблюдалась в основном у пациентов с депрессией или психиатрическими заболеваниями в анамнезе. Следует соблюдать осторожность при назначении препарата Исентресс® пациентам с депрессией или психиатрическими заболеваниями в анамнезе.
				p
					| <b>Одновременное применение с другими лекарственными средствами </b>
				p
					| <b>Сильные индукторы УДФ-ГТ1А1 </b>
				p
					| Следует соблюдать осторожность при назначении препарата Исентресс® одновременно с сильными индукторами УДФ-ГТ1А1, такими как рифампицин, вследствие вызываемого ими снижения плазменной концентрации ралтегравира. При необходимости проведения комбинированной терапии рифампицином и препаратом Исентресс® доза препарата Исентресс® должна быть увеличена в 2 раза у взрослых пациентов. Нет данных для возможности корректировки доз препаратов при одновременном применении препарата Исентресс® и рифампицина у пациентов младше 18 лет (см. раздел ВЗАИМОДЕЙСТВИЕ С ДРУГИМИ ЛЕКАРСТВЕННЫМИ СРЕДСТВАМИ).
				p
					| <b>Антациды </b>
				p
					| Одновременное применение препарата Исентресс® с антацидами, содержащими алюминий или магний, приводит к снижению концентрации ралтегравира в плазме крови. Одновременное применение препарата Исентресс® с антацидами, содержащими алюминий или магний, не рекомендуется (см. раздел ВЗАИМОДЕЙСТВИЕ С ДРУГИМИ ЛЕКАРСТВЕННЫМИ СРЕДСТВАМИ).
				p
					| <b>ВЛИЯНИЕ НА СПОСОБНОСТЬ УПРАВЛЯТЬ ТРАНСПОРТНЫМИ СРЕДСТВАМИ И РАБОТАТЬ С МЕХАНИЗМАМИ </b>
				p
					| Исследования по изучению влияния на способность к управлению транспортными средствами и использованию механизмов не проводились. Учитывая возможность развития на фоне лечения препаратом Исентресс® головокружения, слабости, сонливости и нечеткости зрения, которые могут влиять на указанные способности, нужно проявлять особую осторожность при управлении автомобилем и работе с механизмами. 			 
		+slide__footer()
	