include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-13.slide
		header.slide__header
			.header__title
				span.text--pink
					| SPIRAL: 
				span.text
					| Переключение на Исентресс (Ral) с ингибиторов протеазы не влияет на вирусологический ответ<sup>9</sup>
		main.slide__main
			.box--top
				.pane.pane--gray.pane--wide
					h4.text
						span.text--pink
							| Переключение на ИСЕНТРЕСС с ингибиторов протеазы,
						span
							| усиленных ритонавиром, было сопоставимо по эффективности с продолжением терапии ИП/р
			.box--bottom
				.box--left
					.diagram.diagram--box
						header.diagram__header
							.diagram__title
								| Доля пациентов без неудачи <br>в терапии 
						main.diagram__main
							img.scheme__img.swiper-lazy(data-src="images/slides/13/1.png")
							.swiper-lazy-preloader
				.box--right
					.diagram.diagram--box
						header.diagram__header
							.diagram__title
								| Доля пациентов без вирусологической неудачи<br>(РНК ВИЧ>50 копий/мл)
						main.diagram__main
							img.scheme__img.swiper-lazy(data-src="images/slides/13/2.png")
							.swiper-lazy-preloader
						footer.diagram__footer
							.diagram__btn(data-popup="popup-45")
								| Дизайн исследования
			footer.diagram__footer
				.diagram__caption
					| Martinez E, et al. AIDS. 2010;24:1697-1707
		+slide__footer()