include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-4.slide
		main.slide__main
			.box
				table
					tr
						td
							img.img(src="images/slides/04/1.png")
						td
							img.img(src="images/slides/04/2.png")
						td
							img.img(src="images/slides/04/3.png")
					tr
						td
							img.img(src="images/slides/04/4.png")
						td
							img.img(src="images/slides/04/5.png")
						td
							img.img(src="images/slides/04/6.png")
		+slide__footer()