include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-4.slide
		header.slide__header
			.header__title.text--center
				span.text--pink
					| Выбор схемы АРВТ 
				span
					| для длительного лечения
		main.slide__main
			.img__wrapper
				img.img(src="images/slides/04/1.png")
				.img__label
					span.text.text--purple
						|Возраст
				.img__label
					span.text.text--purple
						|Эффектив-ность
				.img__label
					span.text.text--purple
						|Перено-симость
				.img__label
					span.text.text--purple
						|Привер-женност
				.img__label
					span.text.text--purple
						|Коинфекция
				.img__label
					span.text.text--purple
						|Влияние на липидный профиль
				.img__label
					span.text.text--purple
						|Взаимо-действие
				.img__label
					span.text.text--purple
						|Влияние на мине-ральный обмен <br>костей
				.img__label
					span.text.text--purple
						|Стоимость
				.img__label
					span.text.text--purple
						|Число CD4 клеток
				.img__label
					span.text.text--purple
						|Другие препараты
				.img__label
					span.text.text--purple
						|Влияние на почки
				.img__label
					span.text.text--purple
						|Другие заболевания
				.img__label
					span.text.text--purple
						|Влияние на печень
				.img__label
					span.text.text--purple
						|Влияние на ЦНС
				.img__label
					span.text.text--purple
						|Кратность приема
		+slide__footer()