
include ../../mixins.jade

#popup-49.popup--slide.popup.popup--hidden
	header.popup__header
		.popup__title
			| 
		.btn.popup__close(data-popup="popup-49")
	main.popup__main
		.box--left
			ul.list.list--rhombus
				li.list__item
					| Открытое, рандомизированное, пилотное, мультицентровое исследование
				li.list__item
					| Цель: переключение с TDF на RAL у взрослых, принимающих ИП/р не менее 6 месяцев
				li.list__item
					| Длительность: 48 недель
				li.list__item
					| Критерии пациентов: пациенты, принимающие ИП/р не менее 6 месяцев с T-score позвонков или бедра ≤ -1,0; РНК-ВИЧ <50 копий/мл не менее 3 месяцев до исследования
				li.list__item
					| Первичная конечная точка: изменение общей минеральной плотности (денситометрия)
		.box--right
			.diagram.diagram--box
				header.diagram__header
					.diagram__title
						| Изменение минеральной плотности костей
				main.diagram__main
					img.scheme__img(src="images/popups/49/1.jpg")
				footer.diagram__footer
					.diagram__caption
						| Bloch M, et al. CROI 2012. Abstract 878. Bloch M, et al. HIV Med. 2014;15:373–80
	footer.popup__footer
	