
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-55.slide
		header.slide__header
			.header__title
				span.text--pink
					| 
				div.text
					| 
		main.slide__main
		+slide__footer()
	