include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-21.slide
		header.slide__header.header--with-icon
			.header__title
				span.text--pink
					| REFLATE: высокая эффективность ИСЕНТРЕССа (Ral)
				div.text
					| у пациентов с ВИЧ/ТБ<sup>29</sup>					
			img.header__icon(src="images/lungs-icon.png", data-goto="lungs")
		main.slide__main
			.box--bottom
				.diagram.diagram--box
					header.diagram__header.text--center
						h5.diagram__title
							| Доля пациентов с РНК ВИЧ <50 копий/мл (отмена исследуемой терапии = неудача)
					main.diagram__main
						img.scheme__img.swiper-lazy(data-src="images/slides/21/1.jpg")
						.swiper-lazy-preloader
					footer.diagram__footer
						.diagram__btn(data-popup="popup-21")
							| Дизайн исследования							
		+slide__footer()