include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-9.slide
		header.slide__header
			.header__title
				span.text--pink
					| Оптимизация терапии для пациентов 
				div.text
					| с нарушением минерального обмена/липодистрофией
		main.slide__main
			.box--top
				.pane.pane--gray.pane--wide.pane--fact
					h3.text
						| <span class="text--pink">Эпидемиология: </span> у 67% пациентов с ВИЧ снижается минеральная плотность костной ткани<sup>43</sup>
			.box--bottom.box--flex-row
				.box--left
					div
						b
							| Ключевые риски:
					.pane.pane--stick-left
						ul.list.list--tabs-rombus
							li.list__item(data-goto="48")
								| Остеопения у пациентов на АРВТ
							li.list__item(data-goto="36")
								| Возрастные изменения
							li.list__item(data-goto="46")
								| Липодистрофия
				.box--right
					.diagram.diagram--box
						main.diagram__main
							img.scheme__img.swiper-lazy(data-src="images/slides/09/1.jpg")
							.swiper-lazy-preloader
						footer.diagram__footer
							.diagram__caption
								| Частота остеопении и остеопороза у пациентов с ВИЧ-инфекцией
		+slide__footer()