
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-47.slide
		header.slide__header.header--with-icon
			.header__title
				span.text--pink
					| SPIRAL-LIP:  
				span.text
					| изменение распределения подкожной жировой клетчатки<sup>15</sup>
			img.header__icon(src="images/bear-icon.png", data-goto="bear")
			img.header__icon(src="images/man-icon.png", data-goto="man")
		main.slide__main
			.box
				.box--left
					ul.list.list--rhombus
						li.list__item
							| Через 48 недель в группе ИП/р близко к статистически значимым значениям увеличилось количество жира на туловище 382 г (р=0,077) и общего жира на 307 г (р=0,061) 
						li.list__item
							| Количество жира на туловище и общее количество жира в группе принимавших ралтегравир уменьшилось (хоть и статистически незначимо) на 28 г и 389 г соответственно. 
				.box--right
					.diagram.diagram--box
						header.diagram__header
							.diagram__title
								| Изменение площади жировой ткани через 48 недель
						main.diagram__main
							img.scheme__img(src="images/slides/47/1.jpg")
						footer.diagram__footer
							.diagram__btn(data-popup="popup-46")
								| Дизайн исследования
					.diagram__caption
						| Curran AE, et al. CROI 2011. Abstract 845
		mixin data
			.footer__nav
				nav.nav
					ul.list
						li.list__item
							a.nav__item
								.btn.btn--circle
									img.scheme__img(src="images/left.png", data-goto="prev")
		+slide__footer('nav','data')
	