
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-58.slide
		header.slide__header.header--with-icon
			.header__title
				span.text--pink
					| Исентресс редко взаимодействует 
				span.text
					| с противовирусными препаратами для лечения ХГС<sup>38</sup>
			img.header__icon(src="images/liver-icon.png", data-goto="liver")
		main.slide__main
			.diagram.diagram--box
				main.diagram__main
					img.scheme__img(src="images/slides/58/1.jpg")
		+slide__footer()
	