
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-79.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| КЛЮЧЕВАЯ ИНФОРМАЦИЯ  
				span
					| ПО БЕЗОПАСНОСТИ ИСЕНТРЕСС® (РАЛТЕГРАВИР) – таблетки покрытые пленочной оболочкой, 400 мг 
		main.slide__main
			.instruction
				p
					| и начать соответствующую терапию. Несвоевременное прекращение терапии препаратом Исентресс® или другими лекарственными средствами, ассоциирующимися с этими нежелательными реакциями, после появления тяжелой сыпи может привести к жизнеугрожающим реакциям. <b>Миопатия и рабдомиолиз</b>. Сообщалось о развитии миопатии и рабдомиолиза. Следует соблюдать осторожность при назначении препарата пациентам с миопатией и рабдомиолизом в анамнезе или с какими либо факторами, предрасполагающими к их развитию, в частности, при сопутствующей терапии препаратами, способными вызвать эти нежелательные реакции. Нарушение функции печени. Безопасность и эффективность препарата Исентресс® у пациентов с тяжелыми сопутствующими заболеваниями печени не установлены. Следует соблюдать осторожность при назначении препарата Исентресс® пациентам с тяжелыми нарушениями функции печени. У пациентов с существующей дисфункцией печени, включая хронический гепатит, повышается частота нарушений функции печени на фоне комбинированной АРВТ, и они подлежат мониторингу в соответствии со стандартной практикой. При появлении у таких пациентов признаков ухудшения заболевания печени должен быть рассмотрен вопрос о прерывании или прекращении лечения. Пациенты с хроническим гепатитом В или С, также получающие комбинированную АРВТ, входят в группу риска развития тяжелых и потенциально фатальных нежелательных явлений со стороны печени. Кожная сыпь. У пациентов, ранее получавших АРВТ, при применении препарата Исентресс® одновременно с дарунавиром кожная сыпь наблюдается чаще, чем у пациентов, применяющих препараты по отдельности (см. раздел ПОБОЧНОЕ ДЕЙСТВИЕ). Депрессия. Депрессия, включая суицидальные идеи и поведение, наблюдалась в основном у пациентов с депрессией или психиатрическими заболеваниями в анамнезе. Следует соблюдать осторожность при назначении препарата Исентресс® пациентам с депрессией или психиатрическими заболеваниями в анамнезе. 
				p
					b
						| Одновременное применение с другими лекарственными средствами
				p
					| Сильные индукторы УДФ ГТ1А1. Следует соблюдать осторожность при назначении препарата Исентресс® одновременно с сильными индукторами УДФ ГТ1А1, такими как рифампицин, вследствие вызываемого ими снижения плазменной концентрации ралтегравира. При необходимости проведения комбинированной терапии рифампицином и препаратом Исентресс® доза препарата Исентресс® должна быть увеличена в 2 раза у взрослых пациентов. Нет данных для возможности корректировки доз препаратов при одновременном применении препарата Исентресс® и рифампицина у пациентов младше 18 лет (см. раздел ВЗАИМОДЕЙСТВИЕ С ДРУГИМИ ЛЕКАРСТВЕННЫМИ СРЕДСТВАМИ). Антациды. Одновременное применение препарата Исентресс® с антацидами, содержащими алюминий или магний, приводит к снижению концентрации ралтегравира в плазме крови. Одновременное применение препарата Исентресс® с антацидами, содержащими алюминий или магний, не рекомендуется (см. раздел ВЗАИМОДЕЙСТВИЕ С ДРУГИМИ ЛЕКАРСТВЕННЫМИ СРЕДСТВАМИ).
				p
					b
						| ВЗАИМОДЕЙСТВИЕ С ДРУГИМИ ЛЕКАРСТВЕННЫМИ СРЕДСТВАМИ
				p
					| В исследованиях по изучению лекарственного взаимодействия ралтегравир не оказывал клинически значимого влияния на фармакокинетику этравирина, маравирока, тенофовира, гормональных контрацептивов, метадона, мидазолама и боцепревира. В некоторых исследованиях при одновременном применении препарата Исентресс® с дарунавиром наблюдалось незначительное снижение концентрации дарунавира в плазме крови. Влияние других сильных индукторов изоферментов, метаболизирующих лекарственные средства, такие как фенитоин и фенобарбитал, на систему УДФ ГТ1А1 неизвестно. Менее сильные индукторы (например, эфавиренз, невирапин, этравирин, рифабутин, глюкокортикостероиды,
		+slide__footer()
	