
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-61.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup> 
		main.slide__main
			.instruction
				p
					| <b>РЕГИСТРАЦИОННЫЙ НОМЕР:</b> ЛСР-007737/08 
				p
					| <b>ТОРГОВОЕ НАЗВАНИЕ:</b> ИСЕНТРЕСС®
				p
					| <b>МЕЖДУНАРОДНОЕ НЕПАТЕНТОВАННОЕ НАЗВАНИЕ:</b> ралтегравир 
				p
					| <b>ЛЕКАРСТВЕННАЯ ФОРМА:</b> таблетки покрытые пленочной оболочкой
				p
					| <b>СОСТАВ</b> 
				p
					| 1 таблетка покрытая пленочной оболочкой содержит: 
					br
					| <i>активное вещество:</i> ралтегравир калия 434,4 мг (эквивалентно 400 мг ралтегравира); 
					br
					| <i>вспомогательные вещества:</i> целлюлоза микрокристаллическая 169,4 мг, лактозы моногидрат 26,06 мг, кальция гидрофосфат 69,50 мг, гипромеллоза 2208 43,44 мг, полоксамер 407* 104,3 мг, натрия стеарилфумарат 8,688 мг, магния стеарат 13,03 мг; 
					br
					| <i>пленочное покрытие:</i> краситель Опадрай II розовый (85F94224) 26,06 мг; 
					br
					| <i>состав пленочной оболочки:</i> поливиниловый спирт 44,75%, макрогол 22,0%, тальк 21,415%, титана диоксид 11,32%, краситель железа оксид красный 0,495%, краситель железа оксид черный 0,02%. 
					br
					| * содержит 0,01% бутилгидрокситолуола в качестве антиоксиданта.
				p
					| <b>ОПИСАНИЕ</b> 
				p
					| Овальные двояковыпуклые таблетки, покрытые пленочной оболочкой розового цвета, с гравировкой «227» на одной стороне и гладкие на другой.
				p 
					| <b>ФАРМАКОТЕРАПЕВТИЧЕСКАЯ ГРУППА:</b> противовирусное (ВИЧ) средство
				p
					| <b>КОД АТХ:</b> J05AX08
				p
					<b>ФАРМАКОЛОГИЧЕСКИЕ СВОЙСТВА</b>
				p
					<b>Фармакодинамика</b>
				p
					| Ралтегравир ингибирует каталитическую активность ВИЧ интегразы — фермента, участвующего в репликации вируса ВИЧ. Ингибирование интегразы предотвращает ковалентное введение (интеграцию) генома ВИЧ в геном клетки хозяина на ранних стадиях развития инфекции. Не включенные в ДНК человека геномы ВИЧ не способны индуцировать продукцию новых вирусных частиц, поэтому подавление процесса интеграции предотвращает распространение вирусной инфекции в организме. Ингибирующая способность ралтегравира в отношении фосфотрансфераз человека, включая ДНК-полимеразы α, β и γ, выражена незначительно.
				p
					<b>Микробиология</b> 
				p
					| При плазменной концентрации 31 ± 20 нмоль/л ралтегравир обеспечивал подавление репликации вируса на 95% (95% ингибирующая концентрация, ИК95) в клеточных культурах человеческих Т-лимфоцитов, инфицированных адаптированным к культурам клеток вариантом H9IIIB ВИЧ-1, по сравнению с контрольной вирус-инфицированной культурой клеток. ИК95 достигалась в концентрациях от 6 до 50 нмоль/л в культурах человеческих митоген-активированных мононуклеаров периферической крови, инфицированных различными первичными клиническими штаммами ВИЧ-1, включая штаммы 5 не-B подтипов ВИЧ-1, а также штаммы, резистентные к ингибиторам обратной транскриптазы и ингибиторам протеазы ВИЧ. При анализе одного цикла инфекции ралтегравир подавлял инфицирование, вызванное 23 штаммами ВИЧ, представляющими 5 не-В подтипов и 5 циркулирующих рекомбинантных форм, с ИК50 при концентрации от 5 до 12 нмоль/л.
				p
					| Ралтегравир также подавлял репликацию штаммов ВИЧ-2 при тестировании на клетках линии СЕМх174 (ИК95 = 6 нмоль/л).
		+slide__footer()
	