
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-50.slide
		header.slide__header.header--with-icon
			.header__title
				span.text--pink
					| TROP:     
				span.text
					| увеличение минеральной плотности костной ткани при переключении с тенофовира на ралтегравир<sup>21</sup>
			img.header__icon(src="images/man-icon.png", data-goto="man")
		main.slide__main
			.box
				.box--left
					ul.list.list--rhombus
						li.list__item
							| Статистически значимое увеличение 	показателя-Т позвоночника и бедра на 24 и на 48 неделе по сравнению с исходными показателями.
						li.list__item
							| Статистически значимое снижение/нормализация сывороточных маркеров резорбции костей за 24 недели RAL (р<0,001), которые и дальше продолжали улучшаться к 48 неделе (p<0,001)
						li.list__item
							| Достигнуто снижение 10-летнего риска перелома бедра (FRAX) с 0,9% до 0,78% за 48 недель приема RAL (p<0,043); www.shef.ac.uk/FRAX/
				.box--right
					.diagram.diagram--box
						header.diagram__header
							.diagram__title
								| Увеличение Т-score
						main.diagram__main
							img.scheme__img.swiper-lazy(data-src="images/slides/50/1.jpg")
							.swiper-lazy-preloader
						footer.diagram__footer
							.diagram__btn(data-popup="popup-49")
								| Дизайн исследования
					.diagram__caption
						| Curran AE, et al. CROI 2011. Abstract 845
		mixin data
			.footer__nav
				nav.nav
					ul.list
						li.list__item
							a.nav__item
								.btn.btn--circle
									img.scheme__img(src="images/left.png", data-goto="prev")
						li.list__item
							a.nav__item
								.btn.btn--circle
									img.scheme__img(src="images/right.png", data-goto="next")
		+slide__footer('nav','data')
	