
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-37.slide
		header.slide__header.header--with-icon
			.header__title
				span.text--pink
					| ИСЕНТРЕСС: 
				span.text
					| профиль безопасности у пациентов, не получавших ранее лечения<sup>6</sup>
			img.header__icon(src="images/liver-icon.png", data-goto="liver")
		main.slide__main
			.box--top
				.pane.pane--gray.pane--wide.pane--fact
					h3.text.text--pink
						b
							| ACTG 5257: частота прекращения лечения из-за токсичности в группе ИСЕНТРЕССа была ниже, чем в группах атазанавира/р и дарунавира/р<sup>6</sup>
			.box--bottom.box--flex-row
				.box--left
					.pane
						div
							| Частота прекращения лечения из-за токсичности<sup>6</sup>
						ul.list.list--rhombus
							li.list__item
								b
									| ИСЕНТРЕСС – 1,3% (8/606)
							li.list__item
								| Дарунавир/р – 5,3% (32/601)
							li.list__item
								| Атазанавир/р – 15,7% (95/605)
				.box--right
					.diagram.diagram--box
						header.diagram__header
							img.scheme__img.diagram__label(src="images/slides/37/2.jpg")
							.diagram__title
								| Пациенты, прекратившие лечение из-за токсичности после 96 недель<sup>6</sup>
						main.diagram__main
							img.scheme__img.swiper-lazy(data-src="images/slides/37/1.jpg")
							.swiper-lazy-preloader
						footer.diagram__footer
							.diagram__caption
								| Исключая показатели функции печени
								br
								| Адаптировано из Lennox et al. 2014
							.diagram__btn(data-popup="popup-15")
								|Дизайн исследования
		mixin data
			.footer__nav
				nav.nav
					ul.list
						li.list__item
							a.nav__item
								.btn.btn--circle
									img.scheme__img(src="images/right.png", data-goto="next")
		+slide__footer('nav','data')
	