
include ../../mixins.jade

#popup-44-4.popup--slide.popup.popup--hidden.popup--scaled
	header.popup__header
		.popup__title
			| ХС ЛНП натощак<sup>17</sup>
		.btn.popup__close(data-popup="popup-44-4")
	main.popup__main
		img.scheme__img(src="images/popups/44-4/1.jpg")
	footer.popup__footer
		p
			| Адаптировано из Ofotokun et al. 2014
	