include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-22.slide
		header.slide__header.header--with-icon
			.header__title
				span.text--pink
					| Проникновение АРВ препаратов  
				span.text
					| в ЦНС<sup>30</sup> 					
			img.header__icon(src="images/brain-icon.png", data-goto="brain")
		main.slide__main
			.diagram.diagram--box
				main.diagram__main
					img.scheme__img(src="images/slides/22/1.jpg")
		+slide__footer()