include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-8.slide
		header.slide__header
			.header__title
				span.text--pink
					| Оптимизация терапии
				div.text
					| для пациентов с поражениями ЦНС
		main.slide__main
			.box--top
				.pane.pane--gray.pane--wide.pane--fact
					h3.text
						| <span class="text--pink">Эпидемиология: </span> около 40% пациентов с ВИЧ имеют нейро-когнитивные расстройства<sup>42</sup>
			.box--bottom.box--flex-row
				.box--left
					div
						b
							| Ключевые риски:
					.pane.pane--stick-left
						ul.list.list--tabs-rombus
							li.list__item(data-goto="22")
								| Проникновение через ГЭБ
							li.list__item(data-goto="33")
								| Токсичность АРВТ для ЦНС
							li.list__item(data-goto="57")
								| Лекарственные взаимодействия с препаратами для коррекции неврологических расстройств
				.box--right
					.diagram.diagram--box
						main.diagram__main
							img.scheme__img.swiper-lazy(data-src="images/slides/08/1.jpg")
							.swiper-lazy-preloader
						footer.diagram__footer
							.diagram__caption
								| Частота нейрокогнитивных расстройств в зависимости от пола и АРВ терапии
		+slide__footer()