
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-39.slide
		header.slide__header.header--with-icon
			.header__title
				span.text--pink
					| Повышение печеночных ферментов
			img.header__icon(src="images/liver-icon.png", data-goto="liver")
		main.slide__main
			.box--top
				.pane.pane--gray.pane--wide
					h4.text.text--pink
						| При лечении <b>ИСЕНТРЕССом</b> частота повышения печеночных ферментов у пациентов с ВИЧ-инфекцией и ВИЧ/HCV-коинфекцией была ниже, чем при лечении другими препаратами		
			.box--bottom.box--flex-row
				.box--left
					.pane
						ul.list.list--rhombus
							li.list__item
								| В наблюдательном исследовании повышение активности печеночных ферментов в течение первых 12 месяцев после начала лечения ингибиторами протеазы и ненуклеозидными ингибиторами обратной транскриптазы отмечалось чаще, чем при приеме <b>ИСЕНТРЕССа</b><sup>14</sup>
				.box--right
					.diagram.diagram--box
						header.diagram__header
							.diagram__title
								| Частота (%) повышения активности печеночных ферментов в течение первых 12 месяцев терапии
						main.diagram__main
							img.scheme__img.swiper-lazy(data-src="images/slides/39/1.jpg")
							.swiper-lazy-preloader
						footer.diagram__footer
							.diagram__caption
								| Адаптировано из Vispo et al. 2010
							.diagram__btn(data-popup="popup-39")
								| Дизайн исследования
		mixin data
			.footer__nav
				nav.nav
					ul.list
						li.list__item
							a.nav__item
								.btn.btn--circle
									img.scheme__img(src="images/left.png", data-goto="prev")
						li.list__item
							a.nav__item
								.btn.btn--circle
									img.scheme__img(src="images/right.png", data-goto="next")
		+slide__footer('nav','data')