
include ../../mixins.jade

#popup-34.popup--slide.popup.popup--hidden
	header.popup__header
		.popup__title
			| Высокая частота нейропсихиатрических нежелательных явлений ведущих к отмене терапии долутегравиром у женщин и пожилых людей
		.btn.popup__close(data-popup="popup-34")
	main.popup__main
		p
			| Был проведен ретроспективный анализ ВИЧ-инфицированных пациентов, которым была назначена терапия ингибиторами интегразы в двух крупных амбулаторных клиниках в Германии с 2007 по 2016 год. Была оценена частота отмены терапии по причине развития нежелательных явлений в течение 2 лет с момента назначения долутегравира, ралтегравира или элвитегравира/кобицистата. Также были проанализированы факторы, связанные с отменой терапии долутегравиром.
	footer.popup__footer
	