
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-70.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction 
				p
					| Кроме этого, <i>in vitro</i> ралтегравир не индуцирует CYP3A4 и не является ингибитором Р-гликопротеин-опосредованного транспорта. На основании этих данных можно сделать вывод, что Исентресс® не влияет на фармакокинетические параметры лекарственных средств, которые являются субстратами указанных ферментов или Р-гликопротеина.
					br
					| Как показали исследования <i>in vitro</i> и <i>in vivo</i>, ралтегравир выводится в основном посредством метаболизма (глюкуронирования) по УДФ-ГТ1А1-опосредованному пути. Хотя исследования <i>in vitro</i> показали, что ралтегравир не является ингибитором УДФ-ГТ1А1 и 2В7, в одном клиническом исследовании были выявлены некоторые признаки ингибирования УДФ-ГТ1А1 in vivo на основе наблюдаемого влияния на глюкуронирование билирубина. Тем не менее маловероятно, что данный эффект приводит к клинически значимым межлекарственным взаимодействиям.
					br
					| В фармакокинетике ралтегравира наблюдалась значимая интер- и интраиндивидуальная изменчивость. Приведенная ниже информация о взаимодействии с лекарственными средствами основана на средних геометрических значениях; эффект у отдельного пациента точно предсказать нельзя. 
				p
					| <b>Влияние ралтегравира на фармакокинетику других лекарственных средств</b>
				p
					| В исследованиях по изучению лекарственного взаимодействия ралтегравир не оказывал клинически значимого влияния на фармакокинетику этравирина, маравирока, тенофовира, гормональных контрацептивов, метадона, мидазолама и боцепревира. 
					br
					| В некоторых исследованиях при одновременном применении препарата Исентресс® с дарунавиром наблюдалось незначительное снижение концентрации дарунавира в плазме крови. Механизм данного явления неизвестен. Тем не менее влияние ралтегравира на концентрацию дарунавира в плазме крови не считается клинически значимым.
				p
					| <b>Влияние других лекарственных средств на фармакокинетику ралтегравира</b>
				p
					| Следует соблюдать осторожность при одновременном применении препарата Исентресс® с сильными индукторами УДФ-ГТ1А1 (например, рифампицином), учитывая, что ралтегравир метаболизируется в основном посредством УДФ-ГТ1А1. Рифампицин снижает концентрации ралтегравира в плазме крови. Влияние на эффективность ралтегравира неизвестно. Тем не менее если одновременного применения с рифампицином избежать невозможно, можно удвоить дозу препарата Исентресс® у взрослых. Данные по одновременному применению препарата Исентресс® и рифампицина у пациентов младше 18 лет отсутствуют. Влияние других сильных индукторов изоферментов, метаболизирующих лекарственные средства, такие как фенитоин и фенобарбитал, на систему УДФ-ГТ1А1 неизвестно. Менее сильные индукторы (например, эфавиренз, невирапин, этравирин, рифабутин, глюкокортикостероиды, зверобой продырявленный, пиоглитазон) могут применяться одновременно с препаратом Исентресс® в рекомендованной дозе.
					br
					| Одновременное применение препарата Исентресс® с сильными ингибиторами УДФ-ГТ1А1 (например, атазанавиром) может повысить концентрацию ралтегравира в плазме крови. Менее сильные ингибиторы УДФ-ГТ1А1 (например, индинавир и саквинавир) также могут повысить концентрацию ралтегравира в плазме крови, но в меньшей степени по сравнению с атазанавиром. 
		+slide__footer()
	