
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-70.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction 
				p
					| <b>Влияние ралтегравира на фармакокинетику других лекарственных средств</b>
				p
					| В исследованиях по изучению лекарственного взаимодействия ралтегравир не оказывал клинически значимого влияния на фармакокинетику этравирина, маравирока, тенофовира, гормональных контрацептивов, метадона, мидазолама и боцепревира. 
					br
					| В некоторых исследованиях при одновременном применении препарата Исентресс® с дарунавиром наблюдалось незначительное снижение концентрации дарунавира в плазме крови. Механизм данного явления неизвестен. Тем не менее влияние ралтегравира на концентрацию дарунавира в плазме крови не считается клинически значимым.
				p
					| <b>Влияние других лекарственных средств на фармакокинетику ралтегравира</b>
				p
					| Следует соблюдать осторожность при одновременном применении препарата Исентресс® с сильными индукторами УДФ-ГТ1А1 (например, рифампицином), учитывая, что ралтегравир метаболизируется в основном посредством УДФ-ГТ1А1. Рифампицин снижает концентрации ралтегравира в плазме крови. Влияние на эффективность ралтегравира неизвестно. Тем не менее если одновременного применения с рифампицином избежать невозможно, можно удвоить дозу препарата Исентресс® у взрослых. Данные по одновременному применению препарата Исентресс® и рифампицина у пациентов младше 18 лет отсутствуют. Влияние других сильных индукторов изоферментов, метаболизирующих лекарственные средства, такие как фенитоин и фенобарбитал, на систему УДФ-ГТ1А1 неизвестно. Менее сильные индукторы (например, эфавиренз, невирапин, этравирин, рифабутин, глюкокортикостероиды, зверобой продырявленный, пиоглитазон) могут применяться одновременно с препаратом Исентресс® в рекомендованной дозе.
					br
					| Одновременное применение препарата Исентресс® с сильными ингибиторами УДФ-ГТ1А1 (например, атазанавиром) может повысить концентрацию ралтегравира в плазме крови. Менее сильные ингибиторы УДФ-ГТ1А1 (например, индинавир и саквинавир) также могут повысить концентрацию ралтегравира в плазме крови, но в меньшей степени по сравнению с атазанавиром.
				p
					| Кроме того, тенофовир может повысить концентрацию ралтегравира в плазме крови, однако механизм этого влияния неизвестен. Профиль безопасности, наблюдаемый у пациентов, получавших атазанавир и/или тенофовир, в целом идентичен профилю безопасности у пациентов, которые не принимали данные препараты, поэтому коррекция дозы не требуется.
					br
					| Одновременное применение препарата Исентресс® с антацидами, содержащими бивалентные ионы металлов, может снижать абсорбцию ралтегравира путем хелатирования, что приводит к снижению концентрации ралтегравира в плазме крови. Так как прием антацидов, содержащих алюминий или магний, через 6 часов после приема препарата Исентресс® приводит к значительному снижению концентрации ралтегравира в плазме крови, одновременное применение препарата Исентресс® и антацидов, содержащих алюминий или магний, не рекомендуется. 
					br
					| Одновременное применение препарата Исентресс® с антацидами, содержащими карбонат кальция, снижает концентрацию ралтегравира в плазме крови, однако данное взаимодействие не рассматривается как клинически значимое. Вследствие этого при одновременном применении препарата Исентресс® с антацидами, содержащими карбонат кальция, коррекция дозы не требуется. 
					br
					| Одновременное применение препарата Исентресс® с другими лекарственными средствами, повышающими значения pH желудочного сока (например, омепразол или фамотидин), может повысить скорость абсорбции ралтегравира и, соответственно, концентрацию ралтегравира в плазме крови. 
		+slide__footer()
	