
#slide-22{
	.slide__header{
		.header__title{
			font-size: 44px;		
		}
	}
	.slide__main{
		.box{
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			margin-top: 60px;
		}
		.box--left{
			margin-right: 20px;
			max-width: 330px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;			
		}
		.diagram--box{
			padding: 15px;
			margin-top: 25px;
		}
		.diagram__footer{
			margin-top: 10px;
			justify-content: flex-end;
		}	
	}
}