include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-11.slide
		header.slide__header
			.header__title
				span.text--pink
					| Долгосрочная эффективность
				span.text
					| – STARTMRK 240 недель<sup>5</sup>
		main.slide__main
			.box--top
				.pane.pane--gray.pane--wide
					h3.text.text--pink
						| <b>ИСЕНТРЕСС</b> через 192 и 240 недель по эффективности достоверно превосходил эфавиренз у пациентов, не получавших ранее лечения<sup>5</sup>
			.box--bottom
				.diagram.diagram--box
					main.diagram__main
						img.scheme__img.swiper-lazy(data-src="images/slides/11/1.jpg")
						.swiper-lazy-preloader
					footer.diagram__footer
						.diagram__caption
							| Дизайн исследования STARTMRK – Rockstroh et al.<sup>5</sup>
						.diagram__btn(data-popup="popup-11")
							| Дизайн исследования
		+slide__footer()