
include ../../mixins.jade

#popup-44.popup--slide.popup.popup--hidden
	header.popup__header
		.popup__title
			| Дизайн исследования – Ofotokun et al.<sup>17</sup>
		.btn.popup__close(data-popup="popup-44")
	main.popup__main
		p
			| Субисследование ACTG 5257 включило 1797 пациентов, у которых исходно был произведен забор крови натощак. <br> В этом исследовании сравнивали средние изменения уровней липидов натощак у пациентов, получавших три схемы АРВТ, которые считают альтернативой эфавирензу: 
		ul.list.list--rhombus
			li.list__item
				| Атазанавир/р (n=602): атазанавир 300 мг один раз в день, ритонавир 100 мг один раз в день и эмтрицитабин/тенофовир 200/300 мг один раз в день
			li.list__item
				| Дарунавир/р (n=595): дарунавир 800 мг один раз в день, ритонавир 100 мг один раз в день и эмтрицитабин/тенофовир 200/300 мг один раз в день
			li.list__item
				| Ралтегравир (n=600): ралтегравир 400 мг два раза в деньи эмтрицитабин/тенофовир 200/300 мг один раз в день
		p
			| Уровни общего холестерина, триглицеридов, ЛПНП, ЛПВП измеряли натощак исходно, через 24, 48, 96 и 144 недели.<br> В двух группах больных, получавших ингибиторы протеазы, измеряли также концентрацию ритонавира, чтобы оценить ее корреляцию с изменениями уровней липидов.
	footer.popup__footer
	