
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-77.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| КЛЮЧЕВАЯ ИНФОРМАЦИЯ  
				span
					| ПО БЕЗОПАСНОСТИ ИСЕНТРЕСС® (РАЛТЕГРАВИР) – таблетки покрытые пленочной оболочкой, 400 мг 
		main.slide__main
			.instruction
				p
					b
						| РАСШИРЕННАЯ ВЕРСИЯ
				p
					b
						| ИСЕНТРЕСС® (РАЛТЕГРАВИР) – таблетки покрытые пленочной оболочкой, 400 мг
				p
					b
						| ПОКАЗАНИЯ К ПРИМЕНЕНИЮ
				p
					| Лечение ВИЧ 1 инфекции в комбинации с другими антиретровирусными препаратами у взрослых, подростков и детей, начиная с 6 лет и с массой тела не менее 25 кг, как ранее получавших, так и не получавших антиретровирусную терапию.
				p
					b
						| СПОСОБ ПРИМЕНЕНИЯ И ДОЗЫ
				p
					| Внутрь. Таблетки препарата Исентресс® нельзя жевать, крошить, разламывать. Препарат применяется вне зависимости от приема пищи.
				p
					| Лечение препаратом Исентресс® должен проводить врач, обладающий достаточным опытом терапии ВИЧ инфекции.
				p
					| Лечение препаратом Исентресс® проводят в комбинации с другими антиретровирусными препаратами.
				p
					| Рекомендуемые дозы препарата Исентресс® для лечения ВИЧ 1 инфекции:  
					ul.list
						li.list__item
							| для взрослых: 400 мг х 2 раза в сутки;
						li.list__item
							| для детей с массой тела не менее 25 кг: 400 мг х 2 раза в сутки.
				p
					| Если пациенты детского возраста испытывают трудности при проглатывании таблеток, покрытых пленочной оболочкой, следует рассмотреть возможность приема препарата Исентресс®, таблетки жевательные (смотри инструкцию по применению препарата Исентресс®, таблетки жевательные). 
				p
					b
						| Пожилые пациенты
				p
					| Коррекция дозы у пожилых пациентов не требуется.
				p
					b
						| Пациенты с нарушением функции почек
				p
					| Коррекция дозы у пациентов с нарушением функции почек не требуется.
				p
					b
						| Пациенты с нарушением функции печени
				p
					| Коррекция дозы у пациентов с нарушением функции печени легкой и средней степени тяжести не требуется.
				p
					b
						| ПРОТИВОПОКАЗАНИЯ
				ul.list
					li.list__item
						| Повышенная чувствительность к ралтегравиру и другим компонентам препарата.
					li.list__item
						| Детский возраст до 6 лет.
					li.list__item
						| Масса тела до 25 кг.
					li.list__item
						| Беременность.
					li.list__item
						| Период лактации.
				p
					| Препарат содержит лактозу, поэтому пациенты с редкой наследственной непереносимостью лактозы, дефицитом лактазы или нарушенным всасыванием глюкозо-галактозы не должны принимать препарат Исентресс®.
				p
					b
						| С ОСТОРОЖНОСТЬЮ
				ul.list
					li.list__item
						| Миопатия и рабдомиолиз (в том числе в анамнезе), наличие состояний и факторов, предрасполагающих к их развитию.
					li.list__item
						| Печеночная недостаточность тяжелой степени. 
					li.list__item
						| Одновременное применение с сильными индукторами УДФ ГТ1А1 (рифампицин). 
					li.list__item
						| Одновременное применение препарата Исентресс® с антацидами, содержащими алюминий или магний.
					li.list__item
						| Депрессия, включая суицидальные идеи и поведение, наблюдалась в основном у пациентов с депрессией или психиатрическими заболеваниями в анамнезе. Следует соблюдать осторожность при назначении препарата Исентресс® пациентам с депрессией или психиатрическими заболеваниями в анамнезе.
					li.list__item
						| Пожилой возраст (ввиду ограниченной информации о применении ралтегравира у пациентов старше 65 лет).
		+slide__footer()
	