include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-3.slide
		header.slide__header
			.header__title
				span.text--pink
					| Полипрагмазия часто встречается у ВИЧ-инфицированных: 
				span
					| риск взаимодействия лекарств<sup>4</sup>								
		main.slide__main
			.box
				.diagram
					header.diagram__header.text--center
						h6.diagram__title.text--pink
							|Частота полифармации у ВИЧ-инфицированных<sup>4</sup>
					main.diagram__main
						.img__wrapper
							img.diagram__pic(src="images/slides/03/1.png")
							.diagram__caption
								|*препараты, применявшиеся для лечения оппортунистических инфекций и сопутствующих заболеваний, а также лекарства, использовавшиеся для самолечения, фитопрепараты. Следует учитывать применение дополнительных запрещенных стимуляторов
				.diagram
					header.diagram__header.text--center
						h6.diagram__title.text--pink
							|Частота вероятного межлекарственного взаимодействия<sup>*4</sup>
					main.diagram__main
						.img__wrapper
							img.diagram__pic(src="images/slides/03/2.png")
							.diagram__caption
								|Адаптировано из Marzolini C et al., 2011									
		+slide__footer()