
include ../../mixins.jade

#popup-73.popup--slide.popup.popup--hidden
	header.popup__header
		.popup__title
			| 
		.btn.popup__close(data-popup="popup-73")
	main.popup__main
		p
			| lorem
	footer.popup__footer
	