
include ../../mixins.jade

#popup-44-2.popup--slide.popup.popup--hidden.popup--scaled
	header.popup__header
		.popup__title
			| Общий холестерин натощак (ОХС)<sup>17</sup>
		.btn.popup__close(data-popup="popup-44-2")
	main.popup__main
		img.scheme__img(src="images/popups/44-2/1.jpg")
	footer.popup__footer
		p
			| Адаптировано из Ofotokun et al. 2014