include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-2.slide
		header.slide__header
			.header__title
				span.text--pink
					| Что необходимо учитывать помимо ВИЧ для назначения терапии: 
				span
					| другие заболевания и терапию							
		main.slide__main
			.img__wrapper
				img.img(src="images/slides/02/1.png")
				.img__label
					span.text.text--pink
						|Женщины – контрацептивы
				.img__label
					span.text.text--pink
						|Сердечно-сосудистые заболевания
				.img__label
					span.text.text--pink
						|Наркотики и алкоголь
				.img__label
					span.text.text--pink
						|Психические расстройства
				.img__label
					span.text.text--pink
						|Диабет 2 типа
				.img__label
					span.text.text--pink
						|HCV-коинфекция
			.pane.pane--gray.pane--right.pane--stick-right
				.pane__title
					span.text--pink
						|ВИЧ-инфицированные сегодня живут дольше и сталкиваются с различными проблемами
				ul.list.list--rhombus
					li.list__item
						|При выборе антиретровирусных препаратов необходимо учитывать наличие или риск развития сопутствующих заболеваний, инфекций, прием лекарственных препаратов<sup>2</sup>
					li.list__item
						|Число сопутствующих заболеваний возрастает, а лечение их становится все более сложным<sup>20</sup>
					li.list__item
						|Сопутствующие проблемы включают в себя высокий уровень холестерина, артериальную гипертонию, гепатит С, депрессию и другие заболевания<sup>3</sup>
		+slide__footer()