#slide-1{
	.slide__main{
		.img{
			position: relative;
			right: 16px;
		    margin-bottom: -16px;			
		}
	}
	.box--top{
		margin-bottom: 15px;
	}	
	.footer__tagline{ 
		font-size: 46px;
		margin-right: 56px;
		line-height: 0.9;
		.text--green,
		.text--pink{
			font-size: 38px;	
		}
	}	
}