
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-71.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction 
				p
					| Кроме того, тенофовир может повысить концентрацию ралтегравира в плазме крови, однако механизм этого влияния неизвестен. Профиль безопасности, наблюдаемый у пациентов, получавших атазанавир и/или тенофовир, в целом идентичен профилю безопасности у пациентов, которые не принимали данные препараты, поэтому коррекция дозы не требуется.
					br
					| Одновременное применение препарата Исентресс® с антацидами, содержащими бивалентные ионы металлов, может снижать абсорбцию ралтегравира путем хелатирования, что приводит к снижению концентрации ралтегравира в плазме крови. Так как прием антацидов, содержащих алюминий или магний, через 6 часов после приема препарата Исентресс® приводит к значительному снижению концентрации ралтегравира в плазме крови, одновременное применение препарата Исентресс® и антацидов, содержащих алюминий или магний, не рекомендуется. 
					br
					| Одновременное применение препарата Исентресс® с антацидами, содержащими карбонат кальция, снижает концентрацию ралтегравира в плазме крови, однако данное взаимодействие не рассматривается как клинически значимое. Вследствие этого при одновременном применении препарата Исентресс® с антацидами, содержащими карбонат кальция, коррекция дозы не требуется. 
					br
					| Одновременное применение препарата Исентресс® с другими лекарственными средствами, повышающими значения pH желудочного сока (например, омепразол или фамотидин), может повысить скорость абсорбции ралтегравира и, соответственно, концентрацию ралтегравира в плазме крови. В клиническом исследовании профиль безопасности в подгруппе пациентов, принимавших ингибиторы протонного насоса или блокаторы Н2-гистаминовых рецепторов, был сопоставим с профилем безопасности в подгруппе пациентов, не принимавших данные лекарственные средства. Коррекция дозы препарата Исентресс® не требуется при одновременном применении с ингибиторами протонного насоса или блокаторами Н2-гистаминовых рецепторов.
					br
					| Все исследования взаимодействия лекарственных средств проводились с участием взрослых пациентов.
					br
					| <b>Таблица 1.</b> Данные по фармакокинетическому взаимодействию лекарственных средств у взрослых пациентов.
				table
					thead
						tr
							td
								| Лекарственное средство с учетом терапевтической области применения 
							td
								| Взаимодействие (механизм, если известен) 
							td
								| Рекомендации по коррекции режима дозирования 
					tbody
						tr
							td.caption(colspan="3")
								| Антиретровирусные лекарственные средства
						tr
							td.bold(colspan="3")
								| Ингибиторы протеазы (ИП)
						tr
							td
								| атазанавир/ритонавир (ралтегравир 400 мг 2 раза в сутки)
							td
								| ралтегравир AUC↑ 41% ралтегравир С 12ч ↑ 77% ралтегравир С max ↑ 24% (ингибирование УДФ-ГТ1А1) 
							td
								| Коррекция дозы препарата Исентресс® не требуется. 
						tr
							td
								| типранавир/ритонавир (ралтегравир 400 мг 2 раза в сутки) 
							td
								| ралтегравир AUC↓ 24% ралтегравир С 12ч ↓ 55% ралтегравир С max ↓ 18% (индукция УДФ-ГТ1А1) 
							td
								| Коррекция дозы препарата Исентресс® не требуется.  								
		+slide__footer()
	