
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-71.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction 
				p
					| В клиническом исследовании профиль безопасности в подгруппе пациентов, принимавших ингибиторы протонного насоса или блокаторы Н2-гистаминовых рецепторов, был сопоставим с профилем безопасности в подгруппе пациентов, не принимавших данные лекарственные средства. Коррекция дозы препарата Исентресс® не требуется при одновременном применении с ингибиторами протонного насоса или блокаторами Н2-гистаминовых рецепторов.
					br
					| Все исследования взаимодействия лекарственных средств проводились с участием взрослых пациентов.
					br
					| <b>Таблица 1.</b> Данные по фармакокинетическому взаимодействию лекарственных средств у взрослых пациентов.
				table
					thead
						tr
							td
								| Лекарственное средство с учетом терапевтической области применения 
							td
								| Взаимодействие (механизм, если известен) 
							td
								| Рекомендации по коррекции режима дозирования 
					tbody
						tr
							td.caption(colspan="3")
								| Антиретровирусные лекарственные средства
						tr
							td.bold(colspan="3")
								| Ингибиторы протеазы (ИП)
						tr
							td
								| атазанавир/ритонавир (ралтегравир 400 мг 2 раза в сутки)
							td
								| ралтегравир AUC↑ 41% ралтегравир С 12ч ↑ 77% ралтегравир С max ↑ 24% (ингибирование УДФ-ГТ1А1) 
							td
								| Коррекция дозы препарата Исентресс® не требуется. 
						tr
							td
								| типранавир/ритонавир (ралтегравир 400 мг 2 раза в сутки) 
							td
								| ралтегравир AUC↓ 24% ралтегравир С 12ч ↓ 55% ралтегравир С max ↓ 18% (индукция УДФ-ГТ1А1) 
							td
								| Коррекция дозы препарата Исентресс® не требуется. 
				table
					tbody 
						tr
							td.bold(colspan="3")
								| Ненуклеозидные ингибиторы обратной транскриптазы (ННИОТ) 
						tr
							td
								| эфавиренз (ралтегравир 400 мг 1 раз в сутки)
							td
								| ралтегравир AUC↓ 36% ралтегравир С12ч↓ 21% ралтегравир Сmax↓ 36% (индукция УДФ-ГТ1А1)
							td
								|  Коррекция дозы препарата Исентресс® не требуется.
						tr
							td
								| этравирин (ралтегравир 400 мг 2 раза в сутки)
							td
								| ралтегравир AUC↓ 10% ралтегравир С12ч↓ 34% ралтегравир Сmax↓ 11% (индукция УДФ-ГТ1А1)  этравирин AUC↑ 10% этравирин С12ч↑ 17% этравирин Сmax↑ 4% 
							td
								| Коррекция доз препарата Исентресс® или этравирина не требуется.
						tr
							td.bold(colspan="3")
								| Нуклеозидные ингибиторы обратной транскриптазы (НИОТ)							 								
						tr
							td
								| тенофовир (ралтегравир 400 мг 2 раза в сутки)
							td
								| ралтегравир AUC↑ 49% ралтегравир С12ч↑ 3% ралтегравир Сmax↑ 64% (механизм взаимодействия неизвестен)  тенофовир AUC↓ 10% тенофовир С24ч↓ 13% тенофовир Сmax↓ 23%
							td
								| Коррекция доз препарата Исентресс® или тенофовира дизопроксила фумарата не требуется.
						tr
							td.bold(colspan="3")
								| Антагонисты хемокиновых рецепторов CCR5							 								
						tr
							td
								| маравирок (ралтегравир 400 мг 2 раза в сутки)
							td
								| ралтегравир AUC↓ 37% ралтегравир С12ч↓ 28% ралтегравир Сmax↓ 33% (механизм взаимодействия неизвестен)  маравирок AUC↓ 14% маравирок С12ч↓ 10% маравирок Сmax↓ 21%
							td
								| Коррекция доз препарата Исентресс® или маравирока не требуется.
		+slide__footer()
	