include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-10.slide
		header.slide__header
			.header__title
				span.text--pink
					| Оптимизация терапии 
				div.text
					| для ВИЧ-инфицированных детей
		main.slide__main
			.box--top
				.pane.pane--gray.pane--wide.pane--fact
					h3.text
						| <span class="text--pink">Эпидемиология: </span> отсутствие АРВТ приводит к высокой смертности детей с ВИЧ<sup>44</sup>
			.box--bottom.box--flex-row
				.box--left
					div
						b
							| Ключевые риски:
					.pane.pane--stick-left
						ul.list.list--tabs-rombus
							li.list__item(data-goto="46")
								| Нарушение физического развития
							li.list__item(data-goto="53")
								| Клинические проявления токсичности АРВТ
							li.list__item(data-goto="14")
								| Множественная резистентность
							li.list__item(data-goto="31")
								| Низкая приверженность
							li.list__item(data-goto="54")
								| Значимые лекарственные взаимодействия АРВП
							li.list__item(data-goto="24")
								| Ограниченный выбор АРВП для детей младшего возраста
				.box--right
					.diagram.diagram--box
						main.diagram__main
							img.scheme__img(src="images/slides/10/1.jpg")
						footer.diagram__footer
							.diagram__caption
								| Смертность в зависимости от ВИЧ-статуса у детей 
		+slide__footer()