include ../../mixins.jade

#popup-11.popup--slide.popup.popup--hidden
	header.popup__header
		.popup__title
			| Дизайн исследования STARTMRK – Rockstroh et al.<sup>5</sup>	 				
		.btn.popup__close(data-popup="popup-11")
	main.popup__main
		p
			|  STARTMRK – рандомизированное, двойное слепое контролируемое исследование (non-inferiority), в котором у первичных взрослых больных в возрасте ≥18 лет с ВИЧ-инфекцией сравнивали безопасность и антиретровирусную активность ИСЕНТРЕССа 400 мг два раза в день + тенофовира 300 мг/эмтрицитабина 200 мг (n=281) и эфавиренза 600 мг + тенофовира 300 мг/эмтрицитабина 200 мг (n=282).
		p
			| <b>Первичной целью</b> исследования было доказать сопоставимую эффективность двух схем терапии на основании процента больных с концентрацией РНК ВИЧ-1<50 копий/мл через 48 недель. Вторичным показателем эффективности была доля больных с вирусной нагрузкой <50 копий/мл через 96 недель. Исследование подтвердило сопоставимую эффективность ралтегравира и эфавиренза: 86,1% vs 81,9% (РНК ВИЧ<50 копий/мл; p<0,0001).
		p
			| В соответствии с протоколом результаты лечения оценивали также через 156, 192 и 240 недель. Тестирование гипотезы в эти сроки не производилось. Основными критериями включения были чувствительность к эфавирензу, тенофовиру и эмтрицитабину, отсутствие предыдущей АРВТ, концентрация РНК ВИЧ-1 >5000 копий/мл без признаков генотипической резистентности к тенофовиру, эмтрицитабину или эфавирензу.
	footer.popup__footer