
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-80.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| КЛЮЧЕВАЯ ИНФОРМАЦИЯ  
				span
					| ПО БЕЗОПАСНОСТИ ИСЕНТРЕСС® (РАЛТЕГРАВИР) – таблетки покрытые пленочной оболочкой, 400 мг 
		main.slide__main
			.instruction
				p
					| зверобой продырявленный, пиоглитазон) могут применяться одновременно с препаратом Исентресс® в рекомендованной дозе. Одновременное применение препарата Исентресс® с сильными ингибиторами УДФ ГТ1А1 (например, атазанавиром) может повысить концентрацию ралтегравира в плазме крови. Менее сильные ингибиторы УДФ ГТ1А1 (например, индинавир и саквинавир) также могут повысить концентрацию ралтегравира в плазме крови, но в меньшей степени по сравнению с атазанавиром. Кроме того, тенофовир может повысить концентрацию ралтегравира в плазме крови, однако механизм этого влияния неизвестен. Одновременное применение препарата Исентресс® с антацидами, содержащими карбонат кальция, снижает концентрацию ралтегравира в плазме крови, однако данное взаимодействие не рассматривается как клинически значимое. Коррекция дозы препарата Исентресс® не требуется при одновременном применении с ингибиторами протонного насоса или блокаторами Н2 гистаминовых рецепторов 
				p
					b
						| ПОБОЧНОЕ ДЕЙСТВИЕ
				p
					| Профиль безопасности препарата Исентресс® основан на результатах обобщенных данных по безопасности, полученных в ходе клинических исследований с участием пациентов, ранее получавших антиретровирусную терапию (АРВТ), и пациентов, ранее не получавших АРВТ.
				p
					| В объединенном анализе результатов клинических исследований антиретровирусной терапии у взрослых пациентов, ранее получавших АРВТ, частота отмены терапии по причине нежелательных реакций составила 3,9% в группе пациентов, принимавших препарат Исентресс® и оптимизированную дополнительную терапию (ОДТ), и 4,6% в группе пациентов, принимавших плацебо и ОДТ. Частота отмены терапии по причине нежелательных реакций у взрослых пациентов, ранее не получавших АРВТ, составила 5,0% в группе пациентов, принимавших препарат Исентресс® одновременно с эмтрицитабином и тенофовиром, и 10,0% в группе пациентов, принимавших одновременно эфавиренз, эмтрицитабин и тенофовир.
				p
					| Частые (≥1/100 и <1/10) нежелательные явления включают: снижение аппетита, необычные сновидения, бессонница, ночные кошмары, нарушение поведения, депрессия, головокружение, головная боль, психомоторная гиперреактивность, вертиго, чувство распирания в животе, боль в животе, диарея, метеоризм, тошнота, рвота, диспепсия, кожная сыпь, астения, слабость, лихорадка, повышение активности в плазме аланинаминотрансферазы (АЛТ), аспартатаминотрансферазы (АСТ), липазы и амилазы поджелудочной железы, повышение концентрации триглицеридов и количества атипичных лимфоцитов.
				p
					b
						| Перед назначением любого препарата, упомянутого в данном материале, пожалуйста, ознакомьтесь с полной инструкцией по применению, предоставляемой компанией-производителем.
				p
					b
						| Компания MSD не рекомендует применять препараты компании способами, отличными от описанных в инструкциях по применению.
				img.img(src="images/slides/80/1.png")
				p.footnote
					| * Создавая для жизни
				p
					| Адрес: ООО «МСД Фармасьютикалс», Россия,
					br
					| 115093, г. Москва, ул. Павловская, д. 7, корп. 1,
					br
					| Tел: +7 495 916 71 00, 
					br
					| Факс: +7 495 916 70 94,
					br
					| www.msd.ru 
				p
					| INFC-1100062-0052 | 01.2018
		+slide__footer()
	