include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-20.slide
		header.slide__header.header--with-icon
			.header__title
				span.text--pink
					| Высокая эффективность ИСЕНТРЕССа (Ral) 
				div.text
					| у пациентов с CD4+ < 50 кл/мкл					
			img.header__icon(src="images/lungs-icon.png", data-goto="lungs")
		main.slide__main
			.box--bottom
				.diagram.diagram--box
					main.diagram__main
						img.scheme__img.swiper-lazy(data-src="images/slides/20/1.jpg")
						.swiper-lazy-preloader
		mixin data
			.footer__nav
				nav.nav
					ul.list
						li.list__item
							a.nav__item
								.btn.btn--circle
									img.scheme__img(src="images/left.png", data-goto="prev")
		+slide__footer('nav','data')