include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-20.slide
		header.slide__header.header--with-icon
			.header__title
				span.text--pink
					| Высокая эффективность ИСЕНТРЕССа (Ral)  
				div.text
					| у пациентов с CD4+ < 50 кл/мкл					
			img.header__icon(src="images/lungs-icon.png")
		main.slide__main
			.box--bottom
				.diagram.diagram--box
					main.diagram__main
						img.scheme__img(src="images/slides/20/1.jpg")
		mixin data
			.footer__nav
				nav.nav
					ul.list
						li.list__item
							a.nav__item
								.btn.btn--circle
									img.scheme__img(src="images/left.png")
		+slide__footer('nav','data')