include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-14.slide
		header.slide__header.header--with-icon
			.header__title
				span.text--pink
					| Эффективность 
				span.text
					| – BENCHMRK 240 недель<sup>28</sup>
			img.header__icon(src="images/bear-icon.png", data-goto="bear")
		main.slide__main
			.box--top
				.pane.pane--gray.pane--wide
					h4.text
						span.text--pink
							| <b>Терапия Исентресс + ОБТ показала 45% вирусологическую эффективность</b>
						span
							| у пациентов с резистентностью к трем классам АРВ препаратов к 240 неделе терапии<sup>28</sup>
			.box--bottom
				.diagram.diagram--box
					main.diagram__main
						img.scheme__img.swiper-lazy(data-src="images/slides/14/1.jpg")
						.swiper-lazy-preloader
					footer.diagram__footer
						.diagram__btn(data-popup="popup-14")
							| Дизайн исследования
		+slide__footer()