
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-72.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction 
				table
					tbody 
						tr
							td.bold(colspan="3")
								| Ненуклеозидные ингибиторы обратной транскриптазы (ННИОТ) 
						tr
							td
								| эфавиренз (ралтегравир 400 мг 1 раз в сутки)
							td
								| ралтегравир AUC↓ 36% ралтегравир С12ч↓ 21% ралтегравир Сmax↓ 36% (индукция УДФ-ГТ1А1)
							td
								|  Коррекция дозы препарата Исентресс® не требуется.
						tr
							td
								| этравирин (ралтегравир 400 мг 2 раза в сутки)
							td
								| ралтегравир AUC↓ 10% ралтегравир С12ч↓ 34% ралтегравир Сmax↓ 11% (индукция УДФ-ГТ1А1)  этравирин AUC↑ 10% этравирин С12ч↑ 17% этравирин Сmax↑ 4% 
							td
								| Коррекция доз препарата Исентресс® или этравирина не требуется.
						tr
							td.bold(colspan="3")
								| Нуклеозидные ингибиторы обратной транскриптазы (НИОТ)							 								
						tr
							td
								| тенофовир (ралтегравир 400 мг 2 раза в сутки)
							td
								| ралтегравир AUC↑ 49% ралтегравир С12ч↑ 3% ралтегравир Сmax↑ 64% (механизм взаимодействия неизвестен)  тенофовир AUC↓ 10% тенофовир С24ч↓ 13% тенофовир Сmax↓ 23%
							td
								| Коррекция доз препарата Исентресс® или тенофовира дизопроксила фумарата не требуется.
						tr
							td.bold(colspan="3")
								| Антагонисты хемокиновых рецепторов CCR5							 								
						tr
							td
								| маравирок (ралтегравир 400 мг 2 раза в сутки)
							td
								| ралтегравир AUC↓ 37% ралтегравир С12ч↓ 28% ралтегравир Сmax↓ 33% (механизм взаимодействия неизвестен)  маравирок AUC↓ 14% маравирок С12ч↓ 10% маравирок Сmax↓ 21%
							td
								| Коррекция доз препарата Исентресс® или маравирока не требуется. 								
						tr
							td.caption(colspan="3")
								| Лекарственные средства против вируса гепатита С							 								
						tr
							td.bold(colspan="3")
								| Ингибиторы протеазы NS3/4A вируса гепатита С							 								
						tr
							td
								| боцепревир (ралтегравир 400 мг 1 раз в сутки)
							td
								| ралтегравир AUC↑ 4% ралтегравир С12ч↓ 25% ралтегравир Сmax↑ 11% (механизм взаимодействия неизвестен)
							td
								| Коррекция доз препарата Исентресс® или боцепревира не требуется.   	
						tr
							td.caption(colspan="3")
								| Противомикробные препараты							 								
						tr
							td.bold(colspan="3")
								| Противотуберкулезные препараты						 								
						tr
							td
								| рифампицин (ралтегравир 400 мг 1 раз в сутки)
							td
								| ралтегравир AUC↓ 40% ралтегравир С12ч↓ 61% ралтегравир Сmax↓ 38% (индукция УДФ-ГТ1А1)
							td
								| Рифампицин снижает концентрацию ралтегравира в плазме крови. Если комбинированной терапии с рифампицином избежать невозможно, необходимо рассмотреть возможность увеличения дозы препарата Исентресс® в 2 раза 
		+slide__footer()
