include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-17.slide
		header.slide__header.header--with-icon
			.header__title
				span.text--pink
					| Высокая эффективность ИСЕНТРЕССа (Ral) 
				div.text
					|  у пациентов с ВН > 100 000 копий/мл<sup>27</sup>
			img.header__icon(src="images/lungs-icon.png", data-goto="lungs")
		main.slide__main
			.box--top
				.pane.pane--gray.pane--wide.pane--fact
					h4.text
						| <span class="text--pink">Разница в вирусной супрессии через 48 недель АРВТ </span>у пациентов с ВН > 100 000 коп/мл и менее в зависимости от класса препарата
			.box--bottom.box--flex-row
				.box--left
					.pane
						b
							| Мета-анализ 
						div
							| (21 исследование, 12’370 пациентов)
						p
							| Среднее <b>снижение</b> эффективности при высокой ВН:
							h3.text--pink
								b
									| в классе ИИ – 6,0%,
							h3.text--pink
								b
									| в классе ИП/r – 8,4%
							h3.text--pink
								b
									| и ННИОТ – 6,9%<sup>27</sup>
				.box--right
					.diagram.diagram--box
						main.diagram__main
							img.scheme__img(src="images/slides/17/1.jpg")
						footer.diagram__footer
							.diagram__caption
								| Adapted from Lennox et al. 2014
						//-	
							.diagram__btn(data-popup="popup-17")
								| Дизайн исследования
		mixin data
			.footer__nav
				nav.nav
					ul.list
						li.list__item
							a.nav__item
								.btn.btn--circle
									img.scheme__img(src="images/left.png", data-goto="prev")
						li.list__item
							a.nav__item
								.btn.btn--circle
									img.scheme__img(src="images/right.png", data-goto="next")
		+slide__footer('nav','data')