
include ../../mixins.jade

#popup-27-2.popup--slide.popup.popup--hidden
	header.popup__header
		.popup__title
			| 
		.btn.popup__close(data-popup="popup-27-2")
	main.popup__main
		p
			| no psd
	footer.popup__footer
	