include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-12.slide
		header.slide__header
			.header__title
				span.text--pink
					| SPRING-2: 
				span.text
					| долутегравир продемонстрировал схожую с Исентрессом эффективность у наивных пациентов<sup>7</sup>
		main.slide__main
			.box
				.box--left
					.pane
						h6
							b
								| Первичная конечная точка через 48 недель<sup>7</sup>
						ul.list.list--rhombus
							li.list__item
								| Частота снижения РНК ВИЧ-1 <50 копий/мл составила в группе <b>ИСЕНТРЕССа</b> – 85% (351/411) и в группе долутегравира – 88% (361/411)
				.box--right
					.diagram.diagram--box
						header.diagram__header
							.diagram__title
								| Доля пациентов с РНК ВИЧ-1 <50 копий/мл (первичная конечная точка)<sup>7</sup>
						main.diagram__main
							img.scheme__img.swiper-lazy(data-src="images/slides/12/1.jpg")
							.swiper-lazy-preloader
						footer.diagram__footer
							.diagram__caption
								| Адаптировано из Raffi et al., 2013 <br> Исследуемые препараты применяли в сочетании с тенофовиром/эмтрицитабином или абакавиром/ламивудином
							.diagram__btn(data-popup="popup-12")
								| Дизайн исследования
		+slide__footer()