
include ../../mixins.jade

#popup-28.popup--slide.popup.popup--hidden
	header.popup__header
		.popup__title
			| Мета-анализ – Nachega et al.8<sup>8</sup>
		.btn.popup__close(data-popup="popup-28")
	main.popup__main
		p
			| Мета-анализ рандомизированных контролируемых исследований, в которых изучалось  влияние количества таблеток  и кратности приема (один или два раза в день) на приверженность к АРВТ и ее вирусологическую эффективность. В мета-анализ включали исследования, в которых сравнивали результаты применения антиретровирусных препаратов один или два раза в день, а также оценивали приверженность и частоту подавления репликации вируса. Анализировали дизайн исследования, особенности выборки пациентов, вмешательство, исходы и качество исследований с помощью шкалы Cochrane.
		p
			| В анализ были включены 19 исследований (2004–2011 гг.) у 6312 пациентов, получавших различные схемы АРВТ.
		ul.list.list--rhombus
			li.list__item
				| 7 исследований у пациентов, ранее не получавших лечения
			li.list__item
				| 9 исследований, в которых производили смену терапии при неопределяемой вирусной нагрузке
			li.list__item
				| 3 исследования, в которых терапию меняли при определяемой вирусной нагрузке
		p
			| Медиана длительности наблюдения составила 48 недель (4–96)
		ul.list.list--rhombus
			li.list__item
				| В 11 исследованиях для оценки приверженности использовали электронную систему мониторирования приема таблеток (MEMS), в 8 исследованиях их подсчитывали.
		p
			| При применении антиретровирусных препаратов один раз в день средняя приверженность была не намного выше, чем их при приеме два раза в день (взвешенная средняя разница 2,55%; 95% доверительный интервал [ДИ] 1,23–3,87; р=0,0002)
		p
			| У пациентов, принимавших антиретровирусные препараты один раз в день, вирусологическая эффективность не превышала таковую у пациентов, которым их назначали два раза в день (относительный риск [ОР] = 1,01; 95% ДИ 0,99–1,03; р=0,50).
	footer.popup__footer
	