
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-68.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction 
				p
					| <b>Со стороны почек и мочевыводящих путей</b>
				p
					| <i>Нечастые:</i> почечная недостаточность, нефрит, нефролитиаз, никтурия, киста почки, нарушение функции почек, тубулоинтерстициальный нефрит. 
				p
					| <b>Со стороны половых органов и молочной железы</b>
				p
					| <i>Нечастые:</i> эректильная дисфункция, гинекомастия, симптомы менопаузы.
				p
					| <b>Общие расстройства и нарушения в месте введения</b>
				p
					| <i>Частые:</i> астения, слабость, лихорадка.
					br
					| <i>Нечастые:</i> дискомфорт в груди, озноб, отек лица, увеличение объема жировой ткани, состояние беспокойства, недомогание, подчелюстное новообразование, периферические отеки, боль.
				p
					| <b>Лабораторные и инструментальные данные</b>
				p
					| <i>Частые:</i> повышение активности в плазме аланинаминотрансферазы (АЛТ), аспартатаминотрансферазы (АСТ), липазы и амилазы поджелудочной железы, повышение концентрации триглицеридов и количества атипичных лимфоцитов.
					br
					| <i>Нечастые:</i> снижение абсолютного числа нейтрофилов плазмы, повышение активности в плазме щелочной фосфатазы, амилазы, креатинфосфокиназы, снижение концентрации альбумина, повышение концентрации билирубина, холестерина, креатинина, глюкозы (в том числе определяемой натощак), азота мочевины, холестерина липопротеинов высокой плотности, холестерина липопротеинов низкой плотности, повышение значения международного нормализованного отношения, снижение количества тромбоцитов и лейкоцитов в крови, наличие глюкозы в моче, наличие эритроцитов в моче, увеличение окружности талии, увеличение или снижение массы тела.
				p
					| <b>Травмы, интоксикации и осложнения манипуляций</b>
				p
					| <i>Нечастые:</i> непреднамеренная передозировка.
					br
					| <sup>1</sup> Нежелательные явления без наличия причинно-следственной связи с применением препарата Исентресс®, которые наблюдались в пострегистрационном периоде наблюдения и не наблюдались в ходе клинических исследований.
					br
					| <sup>2</sup> У одного пациента детского возраста наблюдались связанные с приемом препарата нежелательные реакции: психомоторная гиперреактивность 3 степени и нарушение поведения; также у данного пациента наблюдалась бессонница. 
					br
					| В ходе клинических исследований у пациентов, ранее получавших и ранее не получавших АРВТ, наблюдались случаи развития злокачественных новообразований при использовании комбинации препарата Исентресс® с другими антиретровирусными средствами. Характеристика и частота злокачественных новообразований соответствовали таковым для пациентов с тяжелым иммунодефицитом. Риск развития злокачественных новообразований в клинических исследованиях был одинаков как в группах пациентов, принимавших препарат Исентресс®, так и в группах пациентов, принимавших препараты сравнения.
					br
					| У пациентов, принимавших препарат Исентресс®, наблюдалось повышение активности креатинфосфокиназы 2–4 степени. Наблюдались случаи развития миопатии и рабдомиолиза. Пациентам с миопатией или рабдомиолизом в анамнезе, а также имеющим другие факторы риска (включая сопутствующую терапию), препарат следует назначать с осторожностью.
					br
					| Сообщалось о случаях развития остеонекроза, особенно у пациентов с общепризнанными факторами риска, поздней стадией ВИЧ-заболевания или длительным воздействием комбинированной АРВТ. Частота его развития неизвестна.
		+slide__footer()
	