
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-68.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction 
				p
					| <b>Лабораторные и инструментальные данные</b>
				p
					| <i>Частые:</i> повышение активности в плазме аланинаминотрансферазы (АЛТ), аспартатаминотрансферазы (АСТ), липазы и амилазы поджелудочной железы, повышение концентрации триглицеридов и количества атипичных лимфоцитов.
					br
					| <i>Нечастые:</i> снижение абсолютного числа нейтрофилов плазмы, повышение активности в плазме щелочной фосфатазы, амилазы, креатинфосфокиназы, снижение концентрации альбумина, повышение концентрации билирубина, холестерина, креатинина, глюкозы (в том числе определяемой натощак), азота мочевины, холестерина липопротеинов высокой плотности, холестерина липопротеинов низкой плотности, повышение значения международного нормализованного отношения, снижение количества тромбоцитов и лейкоцитов в крови, наличие глюкозы в моче, наличие эритроцитов в моче, увеличение окружности талии, увеличение или снижение массы тела.
				p
					| <b>Травмы, интоксикации и осложнения манипуляций</b>
				p
					| <i>Нечастые:</i> непреднамеренная передозировка.
					br
					| <sup>1</sup> Нежелательные явления без наличия причинно-следственной связи с применением препарата Исентресс®, которые наблюдались в пострегистрационном периоде наблюдения и не наблюдались в ходе клинических исследований.
					br
					| <sup>2</sup> У одного пациента детского возраста наблюдались связанные с приемом препарата нежелательные реакции: психомоторная гиперреактивность 3 степени и нарушение поведения; также у данного пациента наблюдалась бессонница. 
					br
					| В ходе клинических исследований у пациентов, ранее получавших и ранее не получавших АРВТ, наблюдались случаи развития злокачественных новообразований при использовании комбинации препарата Исентресс® с другими антиретровирусными средствами. Характеристика и частота злокачественных новообразований соответствовали таковым для пациентов с тяжелым иммунодефицитом. Риск развития злокачественных новообразований в клинических исследованиях был одинаков как в группах пациентов, принимавших препарат Исентресс®, так и в группах пациентов, принимавших препараты сравнения.
					br
					| У пациентов, принимавших препарат Исентресс®, наблюдалось повышение активности креатинфосфокиназы 2–4 степени. Наблюдались случаи развития миопатии и рабдомиолиза. Пациентам с миопатией или рабдомиолизом в анамнезе, а также имеющим другие факторы риска (включая сопутствующую терапию), препарат следует назначать с осторожностью.
					br
					| Сообщалось о случаях развития остеонекроза, особенно у пациентов с общепризнанными факторами риска, поздней стадией ВИЧ-заболевания или длительным воздействием комбинированной АРВТ. Частота его развития неизвестна.
				p
					| В клинических исследованиях у пациентов, ранее получавших АРВТ, кожная сыпь, вне зависимости от этиологии, чаще наблюдалась при применении препарата Исентресс® одновременно с дарунавиром, чем при применении данных препаратов по отдельности. Тем не менее частота развития кожной сыпи, связанной с приемом препаратов, была сопоставима во всех трех группах лечения. Кожная сыпь была легкой и умеренной степени тяжести и не влияла на продолжение АРВТ. У пациентов, ранее не получавших АРВТ, при лечении препаратом Исентресс® в комбинации с эмтрицитабином и тенофовиром, развитие сыпи наблюдалось реже, чем при лечении эфавирензом в комбинации с эмтрицитабином и тенофовиром.
				p
					| <b>Пациенты с ко-инфекцией гепатита В и/или гепатита С</b>
				p
					| В целом профиль безопасности препарата Исентресс® у пациентов, как ранее получавших, так и не получавших АРВТ, ко-инфицированных хроническим (но не острым) активным гепатитом В и/или гепатитом С, 
		+slide__footer()
	