
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-29.slide
		header.slide__header
			.header__title
				span.text--pink
					| Начни и продолжай АРВТ: 
				span.text
					| особенности режимов
		main.slide__main
			.box--bottom
				.diagram.diagram--box
					main.diagram__main
						img.scheme__img(src="images/slides/29/1.jpg")
					footer.diagram__footer
						.diagram__caption
							| * более подробно см. в инструкции по применению. Некоторые препараты следует сочетать с другими средствами
		+slide__footer()
	