
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-30.slide
		header.slide__header.header--with-icon
			.header__title
				span.text--pink
					| Исентресс: 
				div.text
					| таблетки жевательные 25 мг и 100 мг*, <sup>23</sup>
			img.header__icon(src="images/bear-icon.png")
		main.slide__main
			.box--bottom
				.diagram.diagram--box
					header.diagram__header
						.diagram__title
							| Рекомендованные дозы* для детей в возрасте 2–11 лет
					main.diagram__main
						img.scheme__img(src="images/slides/30/1.jpg")
					footer.diagram__footer
						.diagram__caption
							| * - рекомендации доз по массе тела основаны ориентировочно на приеме 6 мг/кг/доза 2 раза в сутки <br> † - таблетки жевательные по 100 мг могут быть разделены на две половины <br><br> Инструкция по медицинскому применению препарата Исентресс® (ралтегравир) таблетки жевательные. Регистрационный номер  ЛП-002927
		mixin data
			.footer__nav
				nav.nav
					ul.list
						li.list__item
							a.nav__item
								.btn.btn--circle
									img.scheme__img(src="images/right.png")
		+slide__footer('nav','data')
	