
#slide-18{
	.slide__header{
		.header__title{
			font-size: 46px;		
		}
	}
	.slide__main{
		padding-top: 60px;
		.box--left{
			margin-right: 20px;
			max-width: 600px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;			
		}
		.diagram__header{
			width: 100%;
			text-align: center;
		}
		.diagram__main{
			margin-top: 10px;
			width: 100%;
			text-align: center;			
		}
		.diagram__title{
			font-weight: normal;
		}
		.diagram__btn{
			white-space: normal;
		}	
	}
}