include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-6.slide
		header.slide__header
			.header__title
				span.text--pink
					| Оптимизация терапии для пациентов 
				div.text
					| с вирусным гепатитом и другими заболеваниями печени
		main.slide__main
			.box--top
				.pane.pane--gray.pane--wide.pane--fact
					h4.text
						| <span class="text--pink">Эпидемиология: </span> распространенность ВГС-инфекции среди ВИЧ-инфицированных лиц в РФ составляет от 30 до 90% в зависимости от принадлежности к разным группам риска<sup>40</sup>
			.box--bottom.box--flex-row
				.box--left
					div
						b
							| Ключевые риски:
					.pane.pane--stick-left
						ul.list.list--tabs-rombus
							li.list__item(data-goto="41")
								| Прогрессирование фиброза и стеатоза печени
							li.list__item(data-goto="23")
								| Эффективность АРВТ у пациентов с ко-инфекцией
							li.list__item(data-goto="37")
								| Гепатотоксичность <br>АРВТ
							li.list__item(data-goto="58")
								| Лекарственные взаимодействия с противовирусной терапией гепатита С
				.box--right
					.diagram.diagram--box
						main.diagram__main
							img.scheme__img.swiper-lazy(data-src="images/slides/06/1.jpg")
							.swiper-lazy-preloader
						footer.diagram__footer
							.diagram__caption
								| Доля больных ВИЧ-инфекцией в РФ, у которых установлен диагноз хронического гепатита С и/или В
		+slide__footer()