
include ../../mixins.jade

#popup-46.popup--slide.popup.popup--hidden
	header.popup__header
		.popup__title
			| 
		.btn.popup__close(data-popup="popup-46")
	main.popup__main
		.box--left
			ul.list.list--rhombus
				li.list__item
					|  <b>Цель:</b> изучить изменения распределения жира и плотности костей через 48 недель терапии RAL после переключение с ИП/r в сравнении с продолжением ИП/r.
				li.list__item
					| Исследование SPIRAL-LIP – это субисследование SPIRAL. 
				li.list__item
					| <b>Первичная точка:</b> изменение площади и объема висцеральной жировой ткани (VAT).
				li.list__item
					| <b>Вторичная:</b> 
					p(style="font-size:16px;")
						| 1. изменения жировой ткани: в конечностях, туловище, общего жира, общей площади и объема жировой ткани (ТАТ), площади подкожной жировой ткани (SAT), отношение подкожного жира к висцеральному. 
						br
						| 2.  изменение минеральной плотности костей и T-score: общее, в позвонках (L1-L4), бедре (в целом, в шейке бедра).
			.footnote
				| Curran AE, et al. CROI 2011. Abstract 845
		.box--right
			.diagram.diagram--box
				main.diagram__main
					img.scheme__img(src="images/popups/46/1.jpg")
				footer.diagram__footer
					.diagram__caption
						| Curran AE, et al. CROI 2011. Abstract 845
	footer.popup__footer
	