
#slide-55{
	.slide__header{
		.header__title{

		}
	}
	.slide__main{
		align-items: center;
	}
	.diagram__main{
		width: 100%;
		text-align: center;
	}
	.diagram__footer{

	}
	.diagram--box{
		width: 100%;
		text-align: center;
	}	
}
	