
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-64.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction
				p
					| Фармакокинетика ралтегравира у детей младше 2 лет не изучалась.
				p
					| <b>Пациенты из разных расово-этнических групп</b>
				p
					| Расово-этническая принадлежность не оказывала клинически значимого влияния на фармакокинетические параметры ралтегравира. Коррекция дозы не требуется.
				p
					| <b>Пациенты с различным индексом массы тела (ИМТ) </b>
				p
					| ИМТ не оказывал клинически значимого влияния на фармакокинетические параметры ралтегравира у взрослых пациентов. Коррекция дозы препарата в зависимости от ИМТ пациента не требуется. 
				p
					| <b>Пациенты с печеночной недостаточностью</b>
				p
					| Ралтегравир выводится преимущественно путем глюкуронирования в печени. Фармакокинетика препарата была изучена у взрослых пациентов с печеночной недостаточностью средней степени тяжести, а также в комбинированном фармакокинетическом анализе. Клинически значимых отклонений фармакокинетических параметров у взрослых пациентов с печеночной недостаточностью средней степени тяжести по сравнению со здоровыми добровольцами не выявлено. Таким образом, коррекция дозы препарата при печеночной недостаточности легкой и средней степени тяжести не требуется. Влияние тяжелой степени печеночной недостаточности на фармакокинетические параметры ралтегравира не изучалось.
				p
					| <b>Пациенты с почечной недостаточностью </b>
				p
					| На почечный клиренс приходится незначительная доля в выведении ралтегравира из организма. Фармакокинетика препарата была изучена у взрослых пациентов с тяжелой степенью почечной недостаточности, а также в сложном фармакокинетическом анализе. Клинически значимых отклонений фармакокинетических параметров у пациентов с тяжелой степенью почечной недостаточности по сравнению со здоровыми добровольцами не выявлено. Таким образом, коррекции дозы препарата пациентам с тяжелой степенью почечной недостаточности не требуется. Поскольку эффективность диализа ралтегравира неизвестна, принимать препарат накануне сеанса диализа не рекомендуется.
				p
					| <b>Пациенты с полиморфизмом УДФ-ГТ1А1</b>
				p
					| Доказательства или какие-либо данные, свидетельствующие, что наличие полиморфизма у фермента УДФ-ГТ1А1 может оказывать клинически значимое влияние на фармакокинетические параметры ралтегравира, не были получены. По данным сравнительного исследования с участием 30 взрослых здоровых добровольцев с генетически детерминированной сниженной активностью УДФ-ГТ1А1 и 27 взрослых здоровых добровольцев с неизмененным генотипом УДФ-ГТ1А1 отношение средних геометрических AUC ралтегравира составило 1,41 (90% доверительный интервал составил 0,96; 2,09).
				p
					| <b>ПОКАЗАНИЯ К ПРИМЕНЕНИЮ </b>
				p
					| Лечение ВИЧ-1 инфекции в комбинации с другими антиретровирусными препаратами у взрослых, подростков и детей, начиная с 6 лет и с массой тела не менее 25 кг, как ранее получавших, так и не получавших антиретровирусную терапию.
				p
					| <b>ПРОТИВОПОКАЗАНИЯ </b>
				p
					ul.list
						li.list__item
							| Повышенная чувствительность к ралтегравиру и другим компонентам препарата.
						li.list__item
							| Детский возраст до 6 лет. 
						li.list__item
							| Масса тела до 25 кг.							
		+slide__footer()
	