
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-62.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup> 
		main.slide__main
			.instruction
				p
					| При одновременном введении в культуру человеческих Т-лимфоцитов, инфицированных вариантом H9IIIB вируса ВИЧ-1, ралтегравира и нуклеозидных ингибиторов обратной транскриптазы (зидовудин, зальцитабин, ставудин, абакавир, тенофовир, диданозин и ламивудин), ненуклеозидных ингибиторов обратной транскриптазы (эфавиренз, невирапин и делавирдин), ингибиторов протеазы ВИЧ (индинавир, саквинавир, ритонавир, ампренавир, лопинавир, нелфинавир и атазанавир) или ингибитора слияния (энфувиртид) наблюдалась антиретровирусная активность от аддитивной до синергичной.
				p
					| <b>Резистентность к препарату</b>
				p
					| Мутации интегразы ВИЧ-1, способствующие появлению резистентных к ралтегравиру штаммов вируса (развивались или in vitro, или у пациентов, принимавших ралтегравир), в основном включают замены в положениях 155 (N155 замена на H), 148 (Q148 замена на H, K или R) или 143 (Y143 замена на С, Н или R), в сочетании с одной или более дополнительными мутациями (например, L74M, E92Q, T97A, E138A/K, G140A/S, V151I, G163R, S230R). 
					br
					| Рекомбинантные вирусы с одной первичной мутацией (Q148H, K или R или N155H) отличались сниженной способностью к репликации и сниженной чувствительностью к ралтегравиру in vitro. Вторичные мутации вируса еще больше снижали чувствительность к ралтегравиру, иногда компенсируя сниженную способность вируса к репликации. Мутации, ассоциированные с развитием резистентности к ралтегравиру, также могут приводить к формированию устойчивости к другому ингибитору переноса цепи интегразой элвитегравиру. При замене в положении 143 чувствительность к ралтегравиру снижается в большей степени, чем чувствительность к элвитегравиру, тогда как мутации в E92Q – большую резистентность к элвитегравиру, чем к ралтегравиру. У вирусов с мутацией в положении 148 в сочетании с одной и более дополнительными мутациями, вызывающими резистентность к ралтегравиру, также может наблюдаться клинически значимая резистентность к долутегравиру. 
				p
					| <b>Влияние на электрофизиологическую активность сердца или на показатели электрокардиограммы</b>
				p
					| В плацебо-контролируемом клиническом исследовании с участием здоровых добровольцев однократный прием 1600 мг ралтегравира не оказывал какого-либо влияния на продолжительность интервала QTc, несмотря на то, что максимальная концентрация (Сmax) ралтегравира в плазме крови была в 4 раза больше, чем при однократном приеме ралтегравира в дозе 400 мг.
				p
					| <b>Фармакокинетика </b>
				p
					| <b>У взрослых пациентов </b>
				p
					| <b>Всасывание </b>
				p
					| Ралтегравир быстро всасывается после приема препарата натощак, Cmax в плазме крови определяется примерно через 3 часа. Площадь под кривой «концентрация – время» (AUC) и значение Сmax ралтегравира увеличиваются пропорционально дозе в диапазоне доз от 100 мг до 1600 мг. Значения С12ч ралтегравира возрастают пропорционально дозе в диапазоне доз от 100 мг до 800 мг и возрастают в несколько меньшей степени в диапазоне доз от 100 мг до 1600 мг. При режиме приема препарата 2 раза в сутки равновесное состояние достигается быстро, примерно в течение 2 дней после начала лечения. Значения AUC и Сmax свидетельствуют в пользу отсутствия или минимальной кумуляции препарата, значение С12ч — в пользу незначительной кумуляции препарата. В режиме монотерапии по 400 мг 2 раза в сутки значение среднего геометрического для AUC0–12ч составляло 14,3 мкмоль/л × ч, значение С12ч — 14 нмоль/л.
		+slide__footer()
	