include ../../mixins.jade

#popup-10.popup--slide.popup.popup--hidden
	header.popup__header
		.popup__title
			| Дизайн исследования ACTG 5257 – Lennox et al<sup>6</sup>
		.btn.popup__close(data-popup="popup-10")
	main.popup__main
		p
			| ACTG 5257 рандомизированное, открытое контролируемое исследование (non-inferiority), в котором первичных взрослых пациентов с концентрацией РНК ВИЧ-1≥1000 копий/мл рандомизировали на три группы (1:1:1) и назначали ИСЕНТРЕСС 400 мг два раза в день + тенофовир/эмтрицитабин (n=603), атазанавир 300 мг один раз в день + ритонавир 100 мг один раз в день + тенофовир/эмтрицитабин (n=605) или дарунавир 800 мг один раз в день + ритонавир 100 мг один раз в день + тенофовир/эмтрицитабин (n=601)
		b
			| Первичные конечные точки:
		ul.list.list--rhombus
			li.list__item
				| Время до вирусологической неэффективности: вирусная нагрузка <1000 копий/мл с 16 до 24 недели или >200 копий/мл через 24 недели и более		
			li.list__item
				| Время до отмены из-за плохой переносимости (отмена ИСЕНТРЕССа, атазанавира/р или дарунавира/р из-за токсичности)		
		p
			| Комбинированная конечная точка: вирусологическая неэффективность + отмена из-за токсичности в течение 96 недель
	footer.popup__footer