
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-59.slide
		header.slide__header
			.header__title
				span.text--pink
					| Литература 
		main.slide__main
			.literature
				ol.list.list--counter
					li.list__item
						span
							| ISENTRESS Summary of Product Characteristics, accessed Feb 2015
					li.list__item
						span
							| British HIV Association guidelines for the treatment of HIV-1-positive adults with antiretroviral therapy 2012 (Updated November 2013)
					li.list__item
						span
							| Public Health Report: HIV in United Kingdom 2013
					li.list__item
						span
							| Mazolini. C et al. Ageing with HIV: medication use and risk for potential drug–drug interactions. J Antimicrob Chemother 2011; 66: 2107–2111 
					li.list__item
						span
							| Rockstroh JK, De Jesus E, Saag M et al. Durable Efficacy and Safety Of Raltegravir Versus Efavirenz when combined with Tenofovir/Emtricitabine in Treatment Naive HIV Infected Patients: Final 5-Year Results from STARTMRK J Acquir Immune Defic Syndr. 2013 May 1;63(1):77 85
					li.list__item
						span
							| Lennox J, Landowitz R et al. Efficacy and Tolerability of 3 Non-nucleoside Reverse Transcriptase Inhibitor – Sparing Antriretroviral Regimens for Treatment Naive volunteers Infected with HIV-1. Ann Intern Med 2014;161:461-471. 
					li.list__item
						span
							| Raffi F et al. Once-daily dolutegravir versus twice-daily raltegravir in antiretroviral-naive adults with HIV-1 infection (SPRING-2 study): 96 week results from a randomised, doubleblind, non-inferiority trial. Lancet Infect Dis 2013; 13: 927–35 
					li.list__item
						span
							| Nachega et al. Lower Pill Burden and Once-Daily Antiretroviral Treatment Regimens for HIV Infection: A Meta- Analysis of Randomized Controlled Trials Clin Infect Dis 2014;58(9):1297–1307 
					li.list__item
						span
							| Martinez E, et al. AIDS. 2010;24:1697–1707. 
					li.list__item
						span
							| TIVICAY Summary of Product Characteristics, accessed Feb 2015 
					li.list__item
						span
							| EVIPLERA Summary of Product Characteristics, accessed Feb 2015 
					li.list__item
						span
							| REYATZ Summary of Product Characteristics, accessed Feb 2015 
					li.list__item
						span
							| PREZISTA Summary of Product Characteristics, accessed Feb 2015 
					li.list__item
						span
							| Vispo E, Mena A, Maida I, et al. Hepatic safety profile of raltegravir in HIV-infected patients with chronic hepatitis C. J Antimicrob Chemother. 2010;65(3):543–547 
					li.list__item
						span
							| Curran AE, et al. CROI 2011. Abstract 845. 
					li.list__item
						span
							| Sax P, DeJesus E, Mills A, et al.; for the GS-US-236-0102 Study Team. Co-formulated elvitegravir, cobicistat, emtricitabine, and tenofovir versus co-formulated efavirenz, emtricitabine, and tenofovir for initial treatment of HIV-1 infection: a randomised, doubleblind, phase 3 trial, analysis of results after 48 weeks. Lancet. 2012;379(9835):2439–2448. 
					li.list__item
						span
							| Ofotokun I, Ribaudo H, Na L, et al. Darunavir or Atazanavir vs Raltegravir Lipid Changes Are Unlinked To Ritonavir Exposure: ACTG 5257. CROI 2014. Conference on Retroviruses and Opportunistic Infections. March 3–6, 2014. Boston. Poster 746. 
					li.list__item
						span
							| Zong et al. The effect of dolutegravir on the pharmacokinetics of metformin in healthy subjects. Abstracts of the HIV Drug Therapy Glasgow Congress 2014 Zong J et al. Journal of the International AIDS Society 2014, 17(Suppl 3):19584 
					li.list__item
						span
							| University of Liverpool, ‘Interactions with Antiretroviral Drugs’. Available at: www.hivdruginteractions.org. Accessed February 2015. 
					li.list__item
						span
							| BHIVA Standards of care for people living with HIV in 2013 
					li.list__item
						span
							| Bloch M, et al. CROI 2012. Abstract 878. Bloch M, et al. HIV Med. 2014;15:373–80 
					li.list__item
						span
							| Raltegravir once daily or twice daily in previously untreated patients with HIV-1: a randomised, active-controlled, phase 3 non-inferiority trial. Joseph J, Eron Jr, et al. Lancet Infect Dis 2011; 11: 907–15  
					li.list__item
						span
							| Инструкция по медицинскому применению препарата Исентресс® (ралтегравир) таблетки жевательные. Регистрационный номер  ЛП-002927 
					li.list__item
						span
							| Sharon Nachman, Nan Zheng, Edward P. Acosta, et al. Pharmacokinetics, Safety, and 48-Week Efficacy of Oral Raltegravir in HIV-1–Infected Children Aged  2 Through 18 Years. Clin Infect Dis. HIV/AIDS • CID 2014:58 (1 February). 413–422. Published online 2013 Oct 21. doi:  10.1093/cid/cit696. PMCID: PMC3890333
					li.list__item
						span
							| Worm S, et al. Triglycerides and the risk of myocardial infarction in the D:A:D study. 2010  
					li.list__item
						span
							| Lennox J.L. et al. Safety and efficacy of raltegravir-based versus efavirenz-based combination therapy in treatment-naive patients with HIV-1 infection: a multicentre, double-blind randomised controlled trial. Lancet. 2009 Sep 5;374(9692):796-806 
					li.list__item
						span
							| Stephan C. et al. Impact of baseline HIV-1 RNA levels on initial highly active antiretroviral therapy outcome: a meta-analysis of 12,370 patients in 21 clinical trials. HIV Medicine. 2013;14(5):284–92. 
		+slide__footer()
	