include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-15.slide
		header.slide__header
			.header__title
				span.text--pink
					| Долгосрочная эффективность 
				span.text
					| - ACTG 5257
		main.slide__main
			.box--top
				.pane.pane--gray.pane--wide.pane--fact
					h4.text
						span.text--pink
							| В исследовании ACTG 5257 Исентресс. применяемый два раза в день, 
						span
							| продемонстрировал сопоставимую частоту вирусологической неэффективности и меньшую частоту отмены из-за непереносимости, чем ингибиторы протеазы, усиленные ритонавиром, назначавшиеся 1 раз в сутки			
			.box--bottom.box--flex-row
				.box--left
					.pane
						ul.list.list--rhombus
							li.list__item
								| ИСЕНТРЕСС показал более низкую часоту отмены по сравнению с дарунавиром/р и атазанавиром/р (вирусологическая неэффективность и непереносимость)
							li.list__item
								| ИСЕНТРЕСС был сопоставимым с атазанавиром/р и дарунавиром/р по кумулятивной частоте недостаточной вирусологической эффективности<sup>6</sup>
							li.list__item
								| ИСЕНТРЕСС превосходил атазанавир/р и не отличался от дарунавира/р по кумулятивной частоте прекращения АРВТ из-за токсичности<sup>6</sup>
				.box--right
					.diagram.diagram--box
						main.diagram__main
							img.scheme__img.swiper-lazy(data-src="images/slides/15/1.jpg")
							.swiper-lazy-preloader
						footer.diagram__footer
							.diagram__caption
								| Adapted from Lennox et al. 2014
							.diagram__btn(data-popup="popup-15")
								| Дизайн исследования
		+slide__footer()