
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-42.slide
		header.slide__header.header--with-icon
			.header__title
				span.text--pink
					| Почечные аспекты 
				span.text
					| при приеме ИСЕНТРЕССа и&nbsp;долутегравира
			img.header__icon(src="images/heart-icon.png", data-goto="heart")
		main.slide__main
			.box--bottom.box--flex-row
				.box--left
					.pane
						h4.text--pink
							b
								| ИСЕНТРЕСС<sup>1</sup>
						ul.list.list--rhombus
							li.list__item
								| Коррекция дозы <span class="text--pink">ИСЕНТРЕССа</span> у пациентов с нарушением функции почек не требуется
							li.list__item
								| Дополнительное мониторирование функции почек не требуется
					.pane
						h4
							b
								| Долутегравир<sup>10</sup>
						ul.list.list--rhombus
							li.list__item
								| SPRING-2: Сывороточный креатинин в группе долутегравира повысился со 2-ой недели АРВТ и оставался повышенным на протяжении всей (96 нед.) терапии<sup>7*</sup>
					.footnote
						| * по мнению исследователей, эффект клинически незначительный 
				.box--right
					.diagram.diagram--box
						header.diagram__header
							.diagram__title
								| SPRING-2: сывороточный креатинин в группе долутегравира повысился со 2-ой недели АРВТ и оставался повышеным на протяжении всей (96 нед) терапии<sup>7</sup>
						main.diagram__main
							img.scheme__img.swiper-lazy(data-src="images/slides/42/1.png")
							.swiper-lazy-preloader
						footer.diagram__footer
							.diagram__caption
								| Адаптировано из Raffi et al. 2013
							.diagram__btn(data-popup="popup-12")
								| Дизайн исследования<br>и первичная конечная точка
		+slide__footer()
	