include ../../mixins.jade

#popup-24.popup--slide.popup.popup--hidden
	header.popup__header
		.popup__title
			| Дизайн исследования IMPAACT P1066
		.btn.popup__close(data-popup="popup-24")
	main.popup__main
		p
			| Открытое, иногоцентровое исследование I/II фазы, с оценкой фармакокинетического профиля, безопасности, переносимости и эффективности ралтегравира у ВИЧ-инфицированных детей. 126 ВИЧ-инфицированных детей и подростков от 2 до 18 лет. 
			br
			| Пациенты стратифицированы по возрасту и получали таблетки 400 мг (6-18 лет) или жевательные таблетки 25, 100 мг (2 до 12 лет). 
			br
			| Ралтегравир принимался одновременно с оптимизированной базовой терапией.
		p
			| <b>Первичной вирусологической конечной точкой, показателем вирусологической эффективности,</b> было достижение уровня РНК ВИЧ <400 копий/мл или снижение нагрузки РНК ВИЧ на ≥1 log10 относительно исходного уровня к неделе 24. <br> <b>Вторичные показатели эффективности</b> включали долю пациентов, достигших уровня РНК <50 копий/мл, уровня РНК<400 копий/мл, а также изменение относительно исходного числа и процентной доли CD4 клеток на неделях 24 и 48.
	footer.popup__footer