
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-63.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction
				p
					| Абсолютная биодоступность ралтегравира не установлена. Ралтегравир можно принимать вне зависимости от режима приема пищи. 
				p
					| <b>Распределение </b>
				p
					| Примерно 83% ралтегравира связывается с белками плазмы в диапазоне концентраций от 2 до 10 мкмоль/л.
					br
					| Ралтегравир легко преодолевал плацентарный барьер в экспериментальных исследованиях на крысах, но не проникал через гематоэнцефалический барьер в заметной степени. В двух клинических исследованиях с участием пациентов, инфицированных ВИЧ-1, которые принимали ралтегравир в дозе 400 мг 2 раза в сутки, ралтегравир быстро определялся в спинномозговой жидкости. В первом исследовании средняя концентрация ралтегравира в спинномозговой жидкости составила 5,8% (в диапазоне от 1 до 53,5%) от соответствующей концентрации в плазме крови. Во втором исследовании средняя концентрация ралтегравира в спинномозговой жидкости составила 3% (в диапазоне от 1 до 61%) от соответствующей концентрации в плазме крови. Медианы полученных значений были приблизительно в 3–6 раз ниже, чем концентрации свободной фракции ралтегравира в плазме крови.
				p
					| <b>Метаболизм и выведение</b>
				p
					| Исследования с использованием селективных ингибиторов изоформы фермента уридиндифосфат-глюкуронилтрансферазы (УДФ-ГТ), полученной путем экспрессии комплементарной ДНК, показали, что изоформа УДФ-ГТ1А1 является основным ферментом, участвующим в образовании ралтегравир-глюкуронида. Эти данные показали, что основной путь метаболизма ралтегравира у человека представлен процессом глюкуронирования, опосредованного УДФ-ГТ1А1. Длительность конечной фазы периода полувыведения ралтегравира составляет около 9 часов, большая часть AUC соответствует более короткой α-фазе кажущегося периода полувыведения ралтегравира (составляет примерно 1 час). После приема внутрь радиоактивно меченого ралтегравира примерно 51% от принятой дозы выводилось через кишечник и 32% — через почки. В кале обнаруживался только ралтегравир, который, вероятно, образовывался путем гидролиза ралтегравир-глюкуронида, выделившегося с желчью. В моче определялись ралтегравир и ралтегравир-глюкуронид в количестве 9% и 23% от принятой дозы соответственно. В плазме крови основным циркулирующим радиоактивным компонентом был ралтегравир (примерно 70% от общей радиоактивности), в то время как на ралтегравир-глюкуронид приходилось только 30%.
				p
					| <b>Фармакокинетика у отдельных групп пациентов </b>
				p
					| <b>Пол </b>
				p
					| Пол не оказывает клинически значимого влияния на фармакокинетические параметры ралтегравира. Коррекция дозы препарата в зависимости от пола пациента не требуется.
				p
					| <b>Пожилые пациенты</b>
				p
					| В исследованиях на пациентах от 18 лет и старше не было обнаружено значимой зависимости фармакокинетических параметров ралтегравира от возраста пациентов, поэтому коррекция дозы препарата в зависимости от возраста не требуется.
				p
					| <b>Подростки и дети</b>
				p
					| Дозы для подростков и детей старше 6 лет для лечения ВИЧ-1 инфекции рекомендованы на основании того, что фармакокинетические параметры ралтегравира сопоставимы с таковыми у взрослых пациентов. 
				p
					| Фармакокинетика ралтегравира у детей младше 2 лет не изучалась.
		+slide__footer()
	