
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-60.slide
		header.slide__header
			.header__title
				span.text--pink
					| Литература 
		main.slide__main
			.literature
				ol.list.list--counter(style="counter-reset: list-counter 27;")
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
					li.list__item
						| lorem 
		+slide__footer()
	