
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-60.slide
		header.slide__header
			.header__title
				span.text--pink
					| Литература 
		main.slide__main
			.literature
				ol.list.list--counter(start="28")
					li.list__item
						span
							| Eron JJ, et all. Efficacy and safety of raltegravir for treatment of HIV for 5 years in the BENCHMRK studies: final results of two randomised, placebo-controlled trials. Lancet Infect Dis. 2013; 13(7): 587-596  
					li.list__item
						span
							| Grinsztejn B. et al. Raltegravir for the treatment of patients co-infected with HIV and tuberculosis (ANRS 12 180 Reflate TB): a multicentre, phase 2, non-comparative, open-label, randomised trial. Lancet Infect Dis. 2014 Jun;14(6):459-67  
					li.list__item
						span
							| Letendre. Central Nervous System Complications in HIV Disease: HIV-Associated Neurocognitive Disorder. Topics in antiviral medicine. 2011; 19(4):137-142  
					li.list__item
						span
							| Tadele Eticha. Caregiver-reported adherence to antiretroviral therapy among HIV infected children in Mekelle, Ethiopia. BMC pediatr. 2014; 14:114  
					li.list__item
						span
							| C Hoffmann et al. HIV Medicine. Volume 18, Issue 1; January 2017; Pages 56–63  
					li.list__item
						span
							| Rockstroh JK et al. HIV Medicine. 2012;13:127–131  
					li.list__item
						span
							| Naumann U. et al. Similar efficacy and tolerability of raltegravir-based antiretroviral therapy in HIV-infected patients, irrespective of age group, burden of comorbidities and concomitant medication: Real-life analysis of the German ‘WIP’ cohort Int J STD AIDS 28(9): 893-901  2017  
					li.list__item
						span
							| M. Cevik et al. A switch to Raltegravir improves antiretroviral associated hepatotoxicity in individuals co-infected with HIV and hepatitis C. Journal of Infection (2014) 69, 190-193  
					li.list__item
						span
							| Juan Macias et al. Changes In Liver Steatosis After Switching Efavirenz To Raltegravir: The STERAL Study. CROI 2017 Feb 14-16 Seattle, WA  
					li.list__item
						span
							| Brown TT, Moser C, Currier JS et al. Bone density changes after antiretroviral initiation with protease inhibitors or raltegravir. CROI 2014. Conference on Retroviruses and Opportunistic Infections. March 3-6, 2014. Boston. Poster 779LB  
					li.list__item
						span
							| http://www.hiv-druginteractions.org/  
					li.list__item
						span
							| ЭПИДЕМИЧЕСКАЯ СИТУАЦИЯ ПО ТУБЕРКУЛЕЗУ В РОССИИ.ПРОТИВОТУБЕРКУЛЕЗНЫЕ МЕРОПРИЯТИЯ 
					li.list__item
						span
							| Кравченко А.В., Канестри В.Г., Максимов С.Л. Шаги. Профессионал. Спецвыпуск (67) (июль) 2016. С. 3-10   
					li.list__item
						span
							| Giovanni Guaraldi et al. Premature Age-Related Comorbidities Among HIV-Infected Persons Compared With the General Population. Clin Infect Dis. 2011 Dec;53(11):1120-6  
					li.list__item
						span
							| Robertson K et al. AIDS Care, 2014; Vol. 26, No. 12, 1555–1561
					li.list__item
						span
							| Brown TT, Qaqish RB. Antiretroviral therapy and the prevalence of osteopenia and osteoporosis: a meta-analytic review. AIDS 2006; 20: 2165–74    
					li.list__item
						span
							| Newell M.L. et al. Mortality of infected and uninfected infants born to HIV-infected mothers in Africa: a pooled analysis. Lancet. 2004 Oct 2-8;364(9441):1236-43   
		+slide__footer()
	