
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-57.slide
		header.slide__header.header--with-icon
			.header__title
				span.text--pink
					| Исентресс редко взаимодействует 
				div.text
					| с другими нейротропными препаратами<sup>38</sup>
			img.header__icon(src="images/brain-icon.png", data-goto="brain")
		main.slide__main
			.diagram.diagram--box
				main.diagram__main
					img.scheme__img.swiper-lazy(data-src="images/slides/57/1.jpg")
					.swiper-lazy-preloader
		+slide__footer()
	