
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-73.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction
				table
					tbody  								 								
						tr
							td.bold(colspan="3")
								| Блокаторы Н2-гистаминовых рецепторов и ингибиторы протонного насоса
						tr
							td
								| омепразол (ралтегравир 400 мг 2 раза в сутки) 
							td
								| ралтегравир AUC↑ 37% ралтегравир С12ч↑ 24% ралтегравир Сmax↑ 51% (увеличение растворимости) 
							td
								| Коррекция дозы препарата Исентресс® не требуется.  								
						tr
							td
								| фамотидин (ралтегравир 400 мг 2 раза в сутки)
							td
								| ралтегравир AUC↑ 44% ралтегравир С12ч↑ 6% ралтегравир Сmax↑ 60% (увеличение растворимости)
							td
								| Коррекция дозы препарата Исентресс® не требуется. 								
						tr
							td.bold(colspan="3")
								| Гормональные контрацептивы
						tr
							td
								| этинилэстрадиол норэлгестромин (ралтегравир 400 мг 2 раза в сутки)
							td
								| этинилэстрадиол AUC↓ 2% этинилэстрадиол Сmax↑ 6% норэлгестромин AUC↑ 14% норэлгестромин Сmax↑ 29%
							td
								| Коррекция доз препарата Исентресс® или гормональных контрацептивов (эстроген и/или прогестагенсодержащих) не требуется. 								
						tr
							td.bold(colspan="3")
								| Опиоидные анальгетики 
						tr
							td
								| метадон (ралтегравир 400 мг 2 раза в сутки) 
							td
								| метадон AUC↔ метадон Сmax↔
							td
								| Коррекция доз препарата Исентресс® или метадона не требуется.
				p
					| <b>ОСОБЫЕ УКАЗАНИЯ</b>
				p
					| Пациентов следует информировать о том, что современные антиретровирусные препараты не излечивают ВИЧ-инфекцию и не предотвращают передачу ВИЧ другим людям с кровью или при половых контактах. Во время лечения препаратом Исентресс® пациенты должны продолжать соблюдать соответствующие меры безопасности. Также пациенты должны быть проинформированы о том, что у них все еще могут развиться инфекции или другие состояния, распространенные среди ВИЧ-инфицированных пациентов (оппортунистические инфекции). Во время терапии препаратом Исентресс® очень важно оставаться под наблюдением врача. Ралтегравир имеет относительно низкий генетический барьер к развитию резистентности, поэтому для повышения эффективности лечения и снижения риска развития резистентности к препарату ралтегравир необходимо назначать в комбинации с двумя другими активными антиретровирусными средствами, если это возможно.  Важно объяснить пациентам необходимость изучить инструкцию по применению перед началом терапии препаратом Исентресс® и перечитывать ее каждый раз при получении очередного рецепта от врача. Пациенты должны быть проинформированы о необходимости сообщать врачу о появлении каких-либо необычных симптомов, либо сохранении или ухудшении любого известного симптома.
		+slide__footer()
	