
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-73.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction 
				table
					tbody  								
						tr
							td.caption(colspan="3")
								| Седативные препараты						 								
						tr
							td
								| мидазолам (ралтегравир 400 мг 2 раза в сутки)
							td
								| мидазолам AUC↓ 8% мидазолам Сmax↑ 3%
							td
								| Коррекция доз препарата Исентресс® или мидазолама не требуется. Полученные данные указывают на то, что ралтегравир не является индуктором или ингибитором CYP3A4 и что ралтегравир не влияет на фармакокинетику лекарственных средств, являющихся субстратами CYP3A4. 								
						tr
							td.bold(colspan="3")
								| Антациды						 								
						tr
							td
								| Антациды, содержащие алюминий или магний (ралтегравир 400 мг 2 раза в сутки)
							td
								| Одновременно с ралтегравиром ралтегравир AUC↓ 49% ралтегравир С12ч ↓ 63% ралтегравир Сmax↓ 44%  За 2 часа до приема ралтегравира ралтегравир AUC↓ 51% ралтегравир С12ч↓ 56% ралтегравир Сmax↓ 51%  Через 2 часа после приема ралтегравира ралтегравир AUC↓ 30% ралтегравир С12ч ↓ 57% ралтегравир Сmax↓ 22% (хелатирование катионами металлов)  За 6 часов до приема ралтегравира ралтегравир AUC↓ 13% ралтегравир С12ч↓ 50% ралтегравир Сmax↓ 10%  Через 6 часов после приема ралтегравира ралтегравир AUC↓ 11% ралтегравир С12ч ↓ 49% ралтегравир Сmax↓ 10%
							td
								| Антациды, содержащие алюминий или магний, снижают концентрацию ралтегравира в плазме крови. Одновременное применение препарата Исентресс® и антацидов, содержащих алюминий или магний, не рекомендовано.
						tr
							td
								| Антациды, содержащие кальция карбонат (ралтегравир 400 мг 2 раза в сутки) 
							td
								| ралтегравир AUC↓ 55% ралтегравир С12ч ↓ 32% ралтегравир Сmax↓ 52% (хелатирование катионами металлов)
							td
								| Коррекция дозы препарата Исентресс® не требуется.  								
		+slide__footer()
	