
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-69.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction 
				p
					| В клинических исследованиях у пациентов, ранее получавших АРВТ, кожная сыпь, вне зависимости от этиологии, чаще наблюдалась при применении препарата Исентресс® одновременно с дарунавиром, чем при применении данных препаратов по отдельности. Тем не менее частота развития кожной сыпи, связанной с приемом препаратов, была сопоставима во всех трех группах лечения. Кожная сыпь была легкой и умеренной степени тяжести и не влияла на продолжение АРВТ. У пациентов, ранее не получавших АРВТ, при лечении препаратом Исентресс® в комбинации с эмтрицитабином и тенофовиром, развитие сыпи наблюдалось реже, чем при лечении эфавирензом в комбинации с эмтрицитабином и тенофовиром.
				p
					| <b>Пациенты с ко-инфекцией гепатита В и/или гепатита С</b>
				p
					| В целом профиль безопасности препарата Исентресс® у пациентов, как ранее получавших, так и не получавших АРВТ, ко-инфицированных хроническим (но не острым) активным гепатитом В и/или гепатитом С, был аналогичен профилю безопасности у пациентов без ко-инфекции гепатита В и/или гепатита С, хотя частота отклонения активностей АЛТ и АСТ иногда была выше в группах с ко-инфекцией гепатита В и/или гепатита С.
				p
					| <b>Дети</b>
				p
					| По результатам клинических исследований применения ралтегравира в рекомендованных дозах в комбинации с другими антиретровирусными лекарственными средствами у ВИЧ-1 инфицированных детей и подростков от 2 до 18 лет было установлено, что частота, тип и выраженность нежелательных реакций, связанных с приемом препарата, были сопоставимы с таковыми у взрослых пациентов.
					br
					| У одного пациента наблюдались следующие связанные с приемом препарата нежелательные реакции: психомоторная гиперактивность 3 степени, нарушение поведения и бессонница. У другого пациента наблюдалась серьезная нежелательная реакция 2 степени — аллергическая сыпь.
					br
					| Еще у одного пациента наблюдалось повышение активности АСТ 4 степени и АЛТ 3 степени, которое было расценено как серьезное. 
				p
					| <b>ПЕРЕДОЗИРОВКА</b>
				p
					| Специфических симптомов передозировки препарата Исентресс® не выявлено. Ралтегравир хорошо переносился здоровыми добровольцами в режиме 1600 мг х 1 раз в сутки и 800 мг х 2 раза в сутки без каких-либо проявлений токсичности. Однократный прием дозы 1800 мг в сутки в исследованиях II/III фазы не оказывал токсического воздействия. На основании имеющихся данных можно заключить, что ралтегравир хорошо переносится в дозах до 800 мг два раза в сутки, а также при приеме с препаратами, увеличивающими его экспозицию на 50-70% (например, тенофовиром и атазанавиром). Ралтегравир имеет широкий терапевтический диапазон, поэтому потенциал токсического действия в результате передозировки ограничен. В случае передозировки необходимо следовать стандартным рекомендациям, таким как удаление невсосавшегося препарата из желудочно-кишечного тракта, наблюдение за показателями жизнедеятельности, включая ЭКГ, назначение симптоматической терапии. Данных об эффективности диализа при передозировке препаратом Исентресс® нет.
				p
					| <b>ВЗАИМОДЕЙСТВИЕ С ДРУГИМИ ЛЕКАРСТВЕННЫМИ СРЕДСТВАМИ</b>
				p
					| В исследованиях <i>in vitro</i> было показано, что ралтегравир не является субстратом изоферментов системы цитохрома Р450 и не ингибирует CYP1A2, CYP2B6, CYP2C8, CYP2C9, CYP2C19, CYP2D6 или CYP3A. 
		+slide__footer()
	