
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-65.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction
				p
					ul.list 
						li.list__item
							| Беременность. 
						li.list__item
							| Период лактации. 
				p
					| Препарат содержит лактозу, поэтому пациенты с редкой наследственной непереносимостью лактозы, дефицитом лактазы или нарушенным всасыванием глюкозо-галактозы не должны принимать препарат Исентресс®. 
				p
					| <b>С ОСТОРОЖНОСТЬЮ</b>
				p
					ul.list
						li.list__item
							| Миопатия и рабдомиолиз (в том числе в анамнезе), наличие состояний и факторов, предрасполагающих к их развитию.
						li.list__item
							| Печеночная недостаточность тяжелой степени. 
						li.list__item
							| Одновременное применение с сильными индукторами УДФ-ГТ1А1 (рифампицин).
						li.list__item
							| Одновременное применение препарата Исентресс® с антацидами, содержащими алюминий или магний.
						li.list__item
							| Депрессия, включая суицидальные идеи и поведение, наблюдалась в основном у пациентов с депрессией или психиатрическими заболеваниями в анамнезе. Следует соблюдать осторожность при назначении препарата Исентресс® пациентам с депрессией или психиатрическими заболеваниями в анамнезе.
						li.list__item
							| Пожилой возраст (ввиду ограниченной информации о применении ралтегравира у пациентов старше 65 лет).
				p
					| <b>ПРИМЕНЕНИЕ ПРИ БЕРЕМЕННОСТИ И В ПЕРИОД ГРУДНОГО ВСКАРМЛИВАНИЯ</b>
				p
					| Контролируемых исследований препарата Исентресс® у беременных не проводилось, поэтому препарат Исентресс® противопоказан к применению во время беременности. Отсутствуют данные о поступлении ралтегравира в грудное молоко человека. Однако обнаружено поступление ралтегравира в молоко у крыс: при введении препарата в суточной дозе 600 мг/кг концентрация ралтегравира в молоке превышала плазменную концентрацию примерно в 3 раза. Грудное вскармливание не рекомендуется ВИЧ-инфицированным матерям во избежание постнатальной передачи ВИЧ–инфекции детям. При необходимости применения препарата в период лактации рекомендуется прекратить грудное вскармливание.
				p
					| <b>СПОСОБ ПРИМЕНЕНИЯ И ДОЗЫ</b>
				p
					| Внутрь. Таблетки препарата Исентресс® нельзя жевать, крошить, разламывать. Препарат применяется вне зависимости от приема пищи. 
					br
					| Лечение препаратом Исентресс® должен проводить врач, обладающий достаточным опытом терапии ВИЧ-инфекции. 
					br
					| Лечение препаратом Исентресс® проводят в комбинации с другими антиретровирусными препаратами. 
					br
					| Рекомендуемые дозы препарата Исентресс® для лечения ВИЧ-1 инфекции: 
					br
					| −  для взрослых: 400 мг х 2 раза в сутки; 
					br
					| −  для детей с массой тела не менее 25 кг: 400 мг х 2 раза в сутки. Если пациенты детского возраста испытывают трудности при проглатывании таблеток, покрытых пленочной оболочкой,
				p
					| следует рассмотреть возможность приема препарата Исентресс®, таблетки жевательные (смотри инструкцию по применению препарата Исентресс®, таблетки жевательные). 
				p
					| <b>Пожилые пациенты</b>
				p
					| Коррекция дозы у пожилых пациентов не требуется.
				p
					| <b>Пациенты с нарушением функции почек </b>
				p
					| Коррекция дозы у пациентов с нарушением функции почек не требуется.										
		+slide__footer()
	