
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-67.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction 
				p
					| <b>Со стороны органа зрения</b>
				p
					| <i>Нечастые:</i> снижение остроты зрения. 
				p
					| <b>Со стороны органа слуха и лабиринтные нарушения</b>
				p
					| <i>Частые:</i> вертиго.
					br
					| <i>Нечастые:</i> шум в ушах.
				p
					| <b>Со стороны сердца</b>
				p
					| <i>Нечастые:</i> ощущение сердцебиения, синусовая брадикардия, желудочковая экстрасистолия.
				p
					| <b>Со стороны сосудов</b>
				p
					| <i>Нечастые:</i> «приливы» крови к коже лица с ощущением жара, артериальная гипертензия.
				p
					| <b>Со стороны дыхательной системы, органов грудной клетки и средостения </b>
				p
					| <i>Нечастые:</i> дисфония, носовое кровотечение, заложенность носа.
				p
					| <b>Со стороны желудочно-кишечного тракта</b>
				p
					| <i>Частые:</i> чувство распирания в животе, боль в животе, диарея, метеоризм, тошнота, рвота, диспепсия.
					br
					| <i>Нечастые:</i> гастрит, ощущение дискомфорта в животе, боль в верхних отделах живота, болезненность в области живота, чувство дискомфорта в области заднего прохода, запор, сухость во рту, ощущение дискомфорта в эпигастральной области, эрозивный дуоденит, отрыжка, гастроэзофагеальный рефлюкс, гингивит, глоссит, болезненность при глотании, острый панкреатит, пептическая язва, ректальные кровотечения.
				p
					| <b>Со стороны печени и желчевыводящих путей</b>
				p
					| <i>Нечастые:</i> гепатит, стеатоз печени, алкогольный гепатит, печеночная недостаточность<sup>1</sup>.
				p
					| <b>Со стороны кожи и подкожных тканей</b>
				p
					| <i>Частые:</i> кожная сыпь. 
					br
					| <i>Нечастые:</i> акне, алопеция, угревидная сыпь, сухость кожи, эритема, липоатрофия лица, гипергидроз, липоатрофия, приобретенная липодистрофия, липогипертрофия, ночная потливость, пруриго, зуд (локальный и генерализованный), макулярная сыпь, макулопапулезная сыпь, зудящая сыпь, крапивница, ксеродермия, другие поражения кожи, синдром Стивенса–Джонсона<sup>1</sup>, лекарственная сыпь с эозинофилией и системными симптомами (DRESS-синдром)<sup>1</sup>.
				p
					| <b>Со стороны скелетно-мышечной и соединительной ткани</b>
				p
					| <i>Нечастые:</i> артралгия, артрит, боль в спине, боль в боку, скелетно-мышечная боль, миалгия, боль в области шеи, остеопения, боль в конечностях, остеопороз, полиартрит, тендинит, миопатия, рабдомиолиз<sup>1</sup>.
				p
					| <b>Со стороны почек и мочевыводящих путей</b>
				p
					| <i>Нечастые:</i> почечная недостаточность, нефрит, нефролитиаз, никтурия, киста почки, нарушение функции почек, тубулоинтерстициальный нефрит. 
				p
					| <b>Со стороны половых органов и молочной железы</b>
				p
					| <i>Нечастые:</i> эректильная дисфункция, гинекомастия, симптомы менопаузы.
				p
					| <b>Общие расстройства и нарушения в месте введения</b>
				p
					| <i>Частые:</i> астения, слабость, лихорадка.
					br
					| <i>Нечастые:</i> дискомфорт в груди, озноб, отек лица, увеличение объема жировой ткани, состояние беспокойства, недомогание, подчелюстное новообразование, периферические отеки, боль.
		+slide__footer()
	