
include ../../mixins.jade

#popup-36.popup--slide.popup.popup--hidden
	header.popup__header
		.popup__title
			| Дизайн исследования WIP
		.btn.popup__close(data-popup="popup-36")
	main.popup__main
		p
			| WIP (WIP: «Wirksamkeit von Isentress unter Praxtsbedingungen», Эффективность Исентресса в условиях рутинной клинической практики) проспективное, многоцентровое клиническое исследование, проведенное в Германии, включало взрослых (старше 18 лет) пациентов с ВИЧ-инфекцией, которым была назначена терапия RAL 400 мг два раза в день.
		p
			| Первичная конечная точка - вирусологический ответ (РНК ВИЧ <50 копий/мл) после 48 недель терапии.
		p
			| Вирусологическая неудача определялась как РНК ВИЧ ?50 копий/мл (повторный анализ и/или подтверждение результата РКН ВИЧ ?50 копий/мл не требовалось) или ранняя отмена терапии по любой причине во время периода наблюдения. Анализ не включал. Причины ранней отмены классифицировались на следующие группы: недостаточная эффективность, НЯ, низкая приверженность, переключение по неизвестной причине или причине, не связанной с RAL
	footer.popup__footer
	