
include ../../mixins.jade

.swiper-slide.swiper__slide
	#slide-66.slide
		header.slide__header
			.header__title
				span.text--pink.text--upper
					| Инструкция 
				span
					| по применению лекарственного препарата для медицинского примененния <span class="text--upper">Исентресс</span><sup>®</sup>  
		main.slide__main
			.instruction 
				p
					| <b>Пациенты с нарушением функции печени</b>
				p
					| Коррекция дозы у пациентов с нарушением функции печени легкой и средней степени тяжести не требуется. 
				p
					| <b>ПОБОЧНОЕ ДЕЙСТВИЕ</b>
				p
					| Профиль безопасности препарата Исентресс® основан на результатах обобщенных данных по безопасности, полученных в ходе клинических исследований с участием пациентов, ранее получавших антиретровирусную терапию (АРВТ), и пациентов, ранее не получавших АРВТ.
					br
					| В объединенном анализе результатов клинических исследований антиретровирусной терапии у взрослых пациентов, ранее получавших АРВТ, частота отмены терапии по причине нежелательных реакций составила 3,9% в группе пациентов, принимавших препарат Исентресс® и оптимизированную дополнительную терапию (ОДТ), и 4,6% в группе пациентов, принимавших плацебо и ОДТ. Частота отмены терапии по причине нежелательных реакций у взрослых пациентов, ранее не получавших АРВТ, составила 5,0% в группе пациентов, принимавших препарат Исентресс® одновременно с эмтрицитабином и тенофовиром, и 10,0% в группе пациентов, принимавших одновременно эфавиренз, эмтрицитабин и тенофовир.
					br
					| Ниже представлены данные о нежелательных явлениях, наблюдавшихся в клинических исследованиях, с различной степенью вероятности связанных с препаратом Исентресс® или его комбинацией с другой АРВТ. Нежелательные явления перечислены в соответствии с системно-органными классами и классификацией по частоте: «частые» (≥1/100 и <1/10), «нечастые» (≥1/1000 и <1/100).
				p
					| <b>Инфекционные и паразитарные заболевания</b>
				p
					| <i>Нечастые:</i> генитальный герпес, фолликулит, гастроэнтерит, простой герпес, герпетическая инфекция, опоясывающий лишай, грипп, абсцесс лимфоузла, контагиозный моллюск, назофарингит, инфекция верхних дыхательных путей.
				p
					| <b>Доброкачественные, злокачественные и неуточненные новообразования (включая кисты и полипы)</b>
				p
					| <i>Нечастые:</i> папилломатоз кожи.
				p
					| <b>Со стороны крови и лимфатической системы</b>
				p
					| <i>Нечастые:</i> анемия, железодефицитная анемия, болезненность лимфоузлов, лимфаденопатия, нейтропения, тромбоцитопения<sup>1</sup>.
				p
					| <b>Со стороны иммунной системы</b>
				p
					| <i>Нечастые:</i> синдром восстановления иммунитета, гиперчувствительность к препарату, реакции гиперчувствительности.
				p
					| <b>Со стороны обмена веществ и питания</b>
				p
					| <i>Частые:</i> снижение аппетита
					br
					| <i>Нечастые:</i> кахексия, сахарный диабет, дислипидемия, гиперхолестеринемия, гипергликемия, гиперлипидемия, гиперфагия, повышение аппетита, полидипсия, нарушение жирового обмена.
				p
					| <b>Нарушения психики </b>
				p
					| <i>Частые:</i> необычные сновидения, бессонница, ночные кошмары, нарушение поведения<sup>2</sup>, депрессия.
					br
					| <i>Нечастые:</i> психические расстройства, суицидальные попытки, чувство тревоги, спутанность сознания, подавленное настроение, большое депрессивное расстройство, бессонница середины ночи, изменения настроения, панические атаки, нарушения сна, суицидальные идеи<sup>1</sup>, суицидальное поведение<sup>1</sup> (особенно у пациентов с психиатрическими заболеваниями в анамнезе).					
		+slide__footer()
	